img(ref="AWS logo" src="/assets/images/icons/aws.png").card-logo

h3 AWS

p.install-time Estimated time: for a typical sized cluster (5 nodes) ca. 15min

p.install-requirements Requirements: An active cloud subscription at AWS.

.install-cta-container
  a(href="https://dcos.io/docs/latest/administration/installing/cloud/aws").cta.cta--button.button--secondary Install
