img(ref="AWS logo" src="/assets/images/icons/platforms/aws.png").card-logo

h2 Install DC/OS on AWS

p.install-time Estimated time: 15min (typical 5 nodes)

p.install-requirements Requires an active cloud subscription at AWS.

p.install-description Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

.install-cta-container
  a(href="https://dcos.io/docs/latest/administration/installing/cloud/aws").cta.cta--button.button--secondary Install DC/OS
