img(ref="AWS logo" src="/assets/images/icons/platforms/aws.png").card-logo

h2 Install DC/OS on AWS

p.install-time Estimated time: 15min (typical 5 nodes)

p.install-requirements Requires an active cloud subscription with AWS.

p.install-description We currently offer two options to install DC/OS on AWS: a CloudFormation-based option and a custom install option. Choose the CloudFormation-based option to have a pre-configured, quick way to launch a DC/OS cluster. To configure a DC/OS cluster, among other things to launch it in your own VPC, you're better off with the custom install.

.install-cta-container
  a(href="/docs/latest/administration/installing/cloud/aws").cta.cta--button.button--secondary Template Install
  a(href="/docs/latest/administration/installing/cloud/aws").cta.cta--button.button--secondary Custom Install
