img(ref="Azure logo" src="/assets/images/icons/platforms/azure.png").card-logo

h3 Azure

p.install-time Estimated time: for a typical sized cluster (5 nodes) ca. 15min

p.install-requirements Requirements: An active cloud subscription at Azure.

.install-cta-container
  a(href="https://dcos.io/docs/latest/administration/installing/cloud/azure").cta.cta--button.button--secondary Install
