img(ref="Packet logo" src="/assets/images/icons/platforms/centos.png").card-logo

h3 CentOS

p.install-time Estimated time: depends on cluster.

p.install-requirements Requirements: At least 4 nodes: 1 master and 3 agents, each 4GB and 2 CPUs.

a(href="https://dcos.io/docs/latest/administration/installing") Install
