.card-logo
  img(ref="Packet logo" src="/assets/images/icons/get-started/centos.png")

h2 Install DC/OS on CentOS

p.install-time <strong>Estimated time:</strong> depends on cluster.

p.install-requirements Requires at least 4 nodes, each 4GB/2 CPUs.

p.install-description To install DC/OS on CentOS, either on-premises or in a virtual environment, we offer three options: 1. an automated GUI installer, 2. an automated, configurable CLI installer, and 3. an advanced installer with semi-manual steps.

.install-cta-container
  a(href="/docs/latest/administration/installing/custom/gui/" target="_blank").cta.cta--button.button--secondary GUI Install
  a(href="/docs/latest/administration/installing/custom/cli/" target="_blank").cta.cta--button.button--secondary CLI Install
  a(href="/docs/latest/administration/installing/custom/advanced/" target="_blank").cta.cta--button.button--secondary Advanced Install
