img(ref="CoreOS logo" src="/assets/images/icons/coreos.png").card-logo

h3 CoreOS

p.install-time Estimated time: depends on cluster.

p.install-requirements Requirements: At least 4 nodes: 1 master and 3 agents, each 4GB and 2 CPUs.

.install-cta-container
  a(href="https://dcos.io/docs/latest/administration/installing").cta.cta--button.button--secondary Install
