h2 Install DC/OS on Custom Cloud

p Currently, three custom installers for existing cloud setups are available:

img(ref="AWS logo" src="/assets/images/icons/aws.png")

h3 AWS

p Estimated time: for a typical sized cluster (5 nodes) ca. 15min

p Requirements: An active cloud subscription at AWS.

a(href="https://dcos.io/docs/latest/administration/installing") Install

img(ref="Azure logo" src="/assets/images/icons/azure.png")

h3 Azure

p Estimated time: for a typical sized cluster (5 nodes) ca. 15min

p Requirements: An active cloud subscription at Azure.

a(href="https://dcos.io/docs/latest/administration/installing") Install


img(ref="Packet logo" src="/assets/images/icons/packet.png")

h3 Packet

p Estimated time: for a typical sized cluster (5 nodes) ca. 15min

p Requirements: An active cloud subscription at Packet.

a(href="https://dcos.io/docs/latest/administration/installing") Install
