h2 Install DC/OS on Custom Cloud

p Currently, three custom installers for on-premises setups are available:

img(ref="Ubuntu logo" src="/assets/images/icons/ubuntu.png")

h3 Ubuntu

p Estimated time: depends on cluster.

p Requirements: At least 4 nodes: 1 master and 3 agents, each 4GB and 2 CPUs.

a(href="https://dcos.io/docs/latest/administration/installing") Install

img(ref="CoreOS logo" src="/assets/images/icons/coreos.png")

h3 CoreOS

p Estimated time: depends on cluster.

p Requirements: At least 4 nodes: 1 master and 3 agents, each 4GB and 2 CPUs.

a(href="https://dcos.io/docs/latest/administration/installing") Install

img(ref="Packet logo" src="/assets/images/icons/centos.png")

h3 CentOS

p Estimated time: depends on cluster.

p Requirements: At least 4 nodes: 1 master and 3 agents, each 4GB and 2 CPUs.

a(href="https://dcos.io/docs/latest/administration/installing") Install
