.card-logo
  img(ref="Packet logo" src="/assets/images/icons/platforms/packet.png")

h2 Install DC/OS on Packet

p.install-time Estimated time: 15min (typical 5 nodes)

p.install-requirements Requires an active cloud subscription with Packet.

p.install-description To install DC/OS on Packet, we offer a Terraform-based installation.

.install-cta-container
  a(href="/docs/latest/administration/installing/").cta.cta--button.button--secondary Install

