.card-logo
  img(ref="Vagrant logo" src="/assets/images/icons/get-started/vagrant.png")

h2 Install DC/OS on Vagrant

p.install-time <strong>Estimated time:</strong> average 45min

p.install-requirements Requires a machine with at least 16GB of RAM.

p.install-description To install DC/OS on Vagrant we offer an installer that creates a cluster of virtual machines on your local machine that can be used for demos, development, and testing.

.install-cta-container
  a(href="/docs/latest/administration/installing/local" target="_blank").cta.cta--button.button--secondary Install
