img(ref="Vagrant logo" src="/assets/images/icons/vagrant.png").card-logo

h2 Install DC/OS on Vagrant

p.install-time Estimated time: depending on the network connection between 45min and 1.5h

p.install-requirements Requirements: A single machine with at least 16GB of memory.

.install-cta-container
  a(href="https://dcos.io/docs/latest/administration/installing/local").cta.cta--button.button--secondary Install
