extends ../../layouts/base-whitefooter.jade

block head
  title DC/OS Releases

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Download All The Things!
      p.hero-subtitle DC/OS releases are built from source and hosted by Mesosphere, Inc.

  .container
    .container__content

      h2 Release Channels

      p &nbsp;

      .card-container
        .card
          .card-content
            h3 Stable
            p.hero-list__item__copy__paragraph Latest stable release. Ready for production use.
            p(style='margin: 2rem 0 0 0') Coming Soon!

        .card
          .card-content
            h3 Early Access
            p.hero-list__item__copy__paragraph Upcoming release. Ready for development and testing.
            p(style='margin: 1rem 0 0 0') Version: 1.7.0
            a.cta.cta--button.button--secondary(href='https://downloads.dcos.io/dcos/EarlyAccess/dcos_generate_config.sh') Download &rarr;
            a.cta.cta--text(href='/releases/1.7.0/') Release Notes &rarr;

        .card
          .card-content
            h3 Master
            p.hero-list__item__copy__paragraph Bleeding edge automated release. Only tested with automated tests.
            p(style='margin: 2rem 0 0 0') Coming Soon!


  .container.container--dark-background
    .container__content
       h2 Install on any virtual or physical machines.
       a(href='/install').cta.cta--button Install

    +footer
