extends ../../layouts/base.jade
block head
  title DC/OS Releases
block content
  .container.container--dark-background
    +header
    .container__content
      h1 DC/OS Releases

  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto

        h2.heading-margin-bottom.center.mx-auto Release Channels

        .cards.flex.flex-auto.flex-wrap

          .stable-releases.card.card-content.stable.col-4.relative(style="justify-content: inherit;")
            h3.mb0 Stable
            p.release-version.pb1 DC/OS 1.8
            p.hero-list__item__copy__paragraph.release-copy Latest stable release. Ready for production use.
            a.cta.cta--text.release-notes.pb2(href='/releases/1.8.7/') Release Notes

            .col-12.flex-end.mt-auto
              //- Release picker
              select.btn.btn-primary.fit.col-12.block.bg-heliotrope.text-white.pl1.white-arrow.p0(onchange="if (this.value) window.location.href=this.value"  style="line-height: 42px; height: 42px; padding: 0 1rem;")
                option(value='') Pick a service
                option(value='https://dcos.io/docs/1.8/administration/installing/cloud/aws/') Amazon Web Services
                option(value='https://dcos.io/docs/1.8/administration/installing/cloud/azure/') Microsoft Azure
                option(value='https://downloads.dcos.io/dcos/stable/dcos_generate_config.sh') Direct Download

          .card.card--inactive.card-content.stable.col-4(style="justify-content: inherit;")
              h3.mb0 Early Access
              p.release-version.pb1 DC/OS 1.9
              p.hero-list__item__copy__paragraph.release-copy Upcoming release. Ready for development and testing.

              .col-12.flex-end.mt-auto
                a.btn.btn-disabled.block.mb0 Coming Soon

          .master-releases.card.card-content.stable.col-4(style="justify-content: inherit;")
              h3.mb0 Master
              p.release-version.pb1 DC/OS master
              p.hero-list__item__copy__paragraph.release-copy.pb2 Bleeding edge automated release. Only tested with automated tests.

              .col-12.flex-end.mt-auto
                //- Release picker
                select.btn.btn-primary.fit.col-12.block.bg-heliotrope.text-white.pl1.white-arrow(onchange="if (this.value) window.location.href=this.value" style="line-height: 42px; height: 42px; padding: 0 1rem;")
                  option(value='') Pick a service
                  option(value='https://downloads.dcos.io/dcos/testing/master/aws.html?_ga=1.236685761.1509614140.1478184618') Amazon Web Services
                  option(value='https://downloads.dcos.io/dcos/testing/master/azure.html?_ga=1.236685761.1509614140.1478184618') Microsoft Azure
                  option(value='https://downloads.dcos.io/dcos/stable/dcos_generate_config.sh') Direct Download

      h2.heading-margin-bottom.center.mx-auto Older Releases

      .container
        .container__content(style="padding-top: 0;")
          .container__content--release-notes.docs-layout__docs-content
            include:markdown 1.8.6/notes.md
            include:markdown 1.8.5/notes.md
            include:markdown 1.8.4/notes.md
            include:markdown 1.8.3/notes.md
            include:markdown 1.8.2/notes.md
            include:markdown 1.8.1/notes.md
            include:markdown 1.8.0/notes.md
            include:markdown 1.7-open/notes.md

  .container.container--dark-background
    .container__content
      h2 Install on any virtual or physical machines.
      a(href='/install').cta.cta--button Install
    +footer
