extends ../../layouts/base.jade
block head
  title DC/OS Releases
block content
  .container.container--dark-background
    +header
    .container__content
      h1 DC/OS Releases

  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto

        h2.heading-margin-bottom.center Release Channels

        .cards.flex.flex-auto.flex-wrap

          .card.card-content.stable.col-4
            h3 Stable
            p.release-version DC/OS 1.8
            p.hero-list__item__copy__paragraph.release-copy Latest stable release. Ready for production use.
            a.cta.cta--text.release-notes(href='/releases/1.8.7/') Release Notes

            //- Release picker
            select.fit.col-12.block(name="stable")
              option(value='aws') Amazon Web Services
              option(value='azure') Microsoft Azure

            a.btn-primary.col-12.mb0(href="#aws" data-release="aws") Install on AWS
            a.btn-primary.col-12.mb0.hide(href="#azure" data-release="azure") Install on Microsoft Azure

            a.cta--text(href='https://downloads.dcos.io/dcos/stable/dcos_generate_config.sh') Direct Download


      h2.heading-margin-bottom Older Releases

      .container
        .container__content(style="padding-top: 0;")
          .container__content--release-notes.docs-layout__docs-content
            include:markdown 1.8.6/notes.md
            include:markdown 1.8.5/notes.md
            include:markdown 1.8.4/notes.md
            include:markdown 1.8.3/notes.md
            include:markdown 1.8.2/notes.md
            include:markdown 1.8.1/notes.md
            include:markdown 1.8.0/notes.md
            include:markdown 1.7-open/notes.md

  .container.container--dark-background
    .container__content
      h2 Install on any virtual or physical machines.
      a(href='/install').cta.cta--button Install
    +footer
