extends ../../layouts/docs.jade

block head
  title The Definitive Platform for Modern Apps | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')

block content
  .container
    +header

  .container
    .container__content.blog
      .blog-ui
        input(type="search").search
      
        select(name="Categories").categories Categories
          option(value="All") All
          option(value="News") News
          option(value="Update") Update
      
      a(href='posts').latest-post
        .latest-post__category Services
        .latest-post__divider
        h2.latest-post__title Introducing open source DC/OS: The best way to run containers (and everything else)
        p.latest-post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisl nec lorem rhoncus, et porttitor massa tincidunt. Curabitur ut lectus venenatis, viverra dui non, congue erat. 
        .latest-post__readmore.cta.cta--text Continue reading &rarr;

      .posts
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
        a.post
          .post__meta
            .post__category News
            .post__date June 5
          h2.post__title Learn how DC/OS powers production containers, micro&#8230;
          .post__readmore.cta.cta--text Read more &rarr;
          
      .load-more.cta.cta--button.button--secondary Load More
    
  .container
    +footer
