html {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body {
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	margin: 0;
}

a {
	cursor: pointer;
}
