html {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body {
	text-rendering: optimizeLegibility;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	margin: 0;
}
