// Background colors based on variables found in _variables
.bg-white { background-color: #FFFFFF; }
.bg-gray { background-color: $snow; }
.bg-snow { background-color: $snow; }
.bg-smoke { background-color: $smoke; }
.bg-black { background-color: $black; }
.bg-light-gray { background-color: $light-gray; }
.bg-dark-gray { background-color: $dark-gray; }
.bg-persian-indigo { background-color: $persian-indigo; }
.bg-purple { background-color: $purple; }
.bg-heliotrope { background-color: $heliotrope; }
.bg-space-gray { background-color: $space-gray; }
