button.Wallop-buttonPrevious, button.Wallop-buttonNext{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  opacity: .5;
  transition: opacity .2s ease-in-out;

  &:hover{
    opacity: 1;
  }
}
  button.Wallop-buttonPrevious{
    left: 15px;
  }
  button.Wallop-buttonNext{
    right: 15px;
  }
