.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1rem;
  background-color: $snow;
  border: 0.5px solid $black10;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 $black05;
  text-align: left;
  color: $black;
}

.card-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.card-title {
  margin: 1rem 0 0 0;
  letter-spacing: 0.01rem;
}


.card-header {
  display: flex;
  width: 100%;
  height: 180px;
  background-image: url('https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97600&w=800&h=600');
  background-size: cover;
  background-position: center;
}

.card-header__date {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 0.3rem 0.5rem;
  align-items: center;
  background: white;
  border-radius: 1px;

  p {
    margin: 0;
    font-family: $clio-medium;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.card-logo {
  width: 66px;
  height: 66px;
}

.card--events {
  overflow-x: visible;

  .card {
    min-width: 300px;
  }
}

@include break($mobile-small-landscape) {
  .card-container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
