.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 0.8rem;
  background-color: $snow;
  border-radius: 4px;
  @include box-shadow(0px 0px 0px 1px rgba($black, 0.10), 0px 1px 2px 0px rgba($black, 0.05));
  text-align: left;
  color: $black;
  transition: 0.2s;
}

a.card:hover {
  background-color: white;
  @include box-shadow(0px 0px 0px 1px rgba($black, 0.15), 0px 2px 3px 0px rgba($black, 0.10));
}

.card--inactive {
  opacity: 0.5;
}

.card.disabled {
  opacity: 0.4;

  &:hover {
    background-color: $snow;
    transform: none;
    box-shadow: none;
  }
}

.card-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: center;

  &.card-copy {
    height: 210px;
  }
}

.hero-list__item {
  .card {
    margin: 0.5rem 0;
  }

  .card-content {
    padding: 1rem;
  }
}

.card-title {
  margin: 0.5rem 0 0 0;
  letter-spacing: 0rem;
}

.card-logo {
  background: white;
  border-radius: 20%;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20%;
  }

  &:after {
    content: '';
    border-radius: 20%;
    display: block;
    width: 100%;
    height: 100%;
    @include box-shadow(inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1));
    position: absolute;
    top: 0px;
    left: 0px;
  }
}


.card-header {
  display: flex;
  width: 100%;
  min-height: 180px;
  background-color: $dark-purple;
  background-size: cover;
  background-position: center;
}

.card-header__date {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 0.3rem 0.5rem;
  align-items: center;
  background: white;
  border-radius: 1px;

  p {
    margin: 0;
    font-family: $clio-medium;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.card-logo {
  width: 66px;
  height: 66px;
}

.card__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  align-self: flex-end;
}

.card__links a {
  display: block;
  flex: 1;
}

// Release channel styling
.release-channels .card {
  position: relative;

  h3 {
    margin-bottom: 0;
  }

  .release-version {
    margin-top: 0;
    color: $dark-gray;
  }

  .release-copy {
    margin: 1rem 0;
  }

  .release-notes {
    margin-bottom: 0;
  }
}

@include break($mobile-small-landscape) {
  .card-container {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .card {
    margin: 0 0.625rem 1.25rem 0.625rem;
  }
}

@include break($tablet-portrait) {
  .card-container {
    justify-content: space-between;
  }

  .card {
    width: 47%;
  }
}

@include break($desktop-small) {
  .card-container {
    justify-content: flex-start;
  }

  .service-select, .platform-select {
    // padding-left: 1.25rem;
    // padding-right: 1.25rem;

    h2 {
      display: none;
    }
  }

  .card {
    width: 300px;
  }

  .install-columns {
    .card {
      width: 100%;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card-container {
    max-width: 1024px;
  }

  .card-header__date {
    width: 60px;
  }

  .service-select, .platform-select {
    .card-copy {
      width: 180px;
    }
  }
}
