// Case Study block

.container--case-study {
	position: relative;
	overflow: hidden;
}

.container__content--case-study-copy {
	align-items: flex-start;
	text-align: left;
	background-color: $smoke;
  overflow: hidden;
}

.container__content--case-study-image-wrapper {
	display: none;
	align-self: stretch;
}

.bullet-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.bullet-list__item {
	margin: 0 1rem 0 0;
  cursor: pointer;
}

.bullet-list__bullet {
	display: block;
	height: 0.625rem;
	width: 0.625rem;
	background-color: $light-gray;
	border-radius: 50%;
	transition: background-color 0.5s;
}

.bullet-list__bullet.active {
	background-color: $dark-gray;
}

.case-study-item {
	display: flex;
	height: 300px;
	width: 100%;
}

.case-study-item + .case-study-item {
	position: absolute;
	top: 0;
	left: 0;
}

.case-study-fade-wrapper {
	position: relative;
}

.case-study-item .container__content--case-study-image-wrapper,
.case-study-item .case-study-fade-wrapper {
	opacity: 0;
	transition: all 0.5s;
}

.case-study-item.active .container__content--case-study-image-wrapper,
.case-study-item.active .case-study-fade-wrapper {
	opacity: 1;
	z-index: 1;
}

@include break($mobile-large-landscape) {
	.container--case-study {
		flex-flow: row;
		justify-content: center;
		width: 100%;
		max-width: 1800px;
		margin-left: auto;
		margin-right: auto;
	}
	.container__content--case-study-image-wrapper {
		justify-content: center;
		order: 1;
		flex-basis: 50%;
		display: flex;
		background-color: $smoke;
	}

  .case-study-item {
    height: 500px;
  }

	.case-study-image {
		max-width: 256px;
	}

	.case-study-copy {
		max-width: 24rem;
	}

	.container__content--case-study-copy {
		order: 2;
		flex-basis: 50%;
		background-color: $snow;
	}

  .bullet-list {
    position: absolute;
    bottom: 1rem;
    z-index: 100;
    transform: none;
    left: auto;
  }

  .bullet-list__bullet {
    height: 0.5rem;
    width: 0.5rem;
  }
}

@include break($desktop-small) {
	.container__content--case-study-copy {
		padding: 8rem 6rem;
	}
}
