// Container variants

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.container__content {
  @include container-padding-vertical;
  @include container-padding-horizontal;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  max-width: $max-width;
}

.container--dark-background {
  text-align: center;
  background-color: $black;
  background-image: linear-gradient(to top right, $dark-purple, $persian-indigo);
  color: white;

  a {
    color: white;
  }
}

.container--gray-background {
  background-color: $snow;
}

.container--docs-header {
    border-bottom: 1px solid $smoke;
}

.partner-quote-container {
  overflow: hidden;
}

@include break($mobile-large-landscape) {
  .container__content {
    padding: 5rem 2rem;
  }
}
