.docs-layout {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100%;
}

.docs-search {
  margin: 0 0 1rem 0;
}

.docs-search--mobile {
  margin: 0;
}

.docs-layout__docs-article article {
  max-width: 100%;
}

.docs-search__input {
  width: 100%;
  padding-left: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid $light-gray;
  border-radius: 4px;
  background-image: url('/assets/images/icons/search.svg');
  background-position: 0.5rem center;
  background-repeat: no-repeat;
  transition: 0.1s;

  &:focus {
    outline: none;
    background-color: $snow;
  }

  input {
    width: 75%;
  }

  @include break($tablet-portrait) {
    width: calc(100% - 30px);
  }
}

.docs-nav__item__arrow img {
  min-width: 11px;
  margin-top: 3px;
}

.docs-nav__item_file .docs-nav__item__title {
  position: relative;
  display: block;
}

.docs-nav__item_file .docs-nav__item__title span {
  display: block;
  margin-left: 20px;
}

.docs-nav__item_file .docs-nav__item__title:hover span {
  opacity: 1;
}

.docs-nav__item_file .docs-nav__item__title::before {
  position: absolute;
  width: 9px;
  height: 11px;
  top: 3px;
  content: '';
  background: url('/assets/images/icons/docs-file-inactive.svg');
  background-repeat: no-repeat;
}

.docs-nav__item_file .docs-nav__item__title.active::before {
  background: url('/assets/images/icons/docs-file-active.svg');
  width: 9px;
  height: 11px;
}

.docs-nav__item--closed {
  .docs-nav__item__arrow img {
    min-width: 7px;
    margin-right: 10px;
  }
}

.nav-wrapper {
  display: flex;
}

.nav-wrapper > .docs-nav__item__title {
  margin: 0 0 0 0;
}

.nav-wrapper > .docs-nav__item__arrow {
  margin: 0 0 0 1rem;
}

.docs-nav__item_folder{
  position: relative;
  padding-left: 20px;

  &.docs-nav__item--closed{
    .docs-nav__item__arrow{
      //background: url(/assets/images/icons/arrow-right-docs.svg) no-repeat 0 5px;
    }
  }
}

.docs-nav__item__arrow{
  position: absolute;
  z-index: 400;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  //background: url(/assets/images/icons/arrow-down-docs.svg) no-repeat 0 5px;
  margin: 0;
}

ul > li > .nav-wrapper > .docs-nav__item__arrow {
  margin: 0;
}

.container--docs-content .docs-layout__docs-nav {
  display: none;
}

.docs-layout__docs-nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

  .docs-nav__item--closed {
    ul {
      display: none;
    }
  }

  ul {
    ul {
      margin-left: 0;

      .docs-nav__item_file .docs-nav__item__title::before {
        top: 5px;
      }

      .docs-nav__item {
        line-height: 1.4;
        font-size: 0.9rem;
      }

      ul {
        margin-left: 0;
      }
    }
  }

  a {
    font-weight: 500;
    color: $black;
    opacity: 0.6;
  }

  a:active, a.active {
    color: $heliotrope;
    opacity: 1;
  }
}



.docs-nav__item, .docs-nav__item-title {
  margin: 0 0 0 0;
}

.docs-nav__item__child {
  margin: 0 0 1rem 1rem;
}

.docs-nav__item {
  margin: 0.75rem 0;
}

.docs-layout__docs-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
}

.docs-layout__docs-content{
  h1 {
    font-size: 2rem;
  }

  .docs-heading {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  h3, p, pre {
    margin: 1rem 0 0.5rem 0;
  }

  h1, h2 {
    margin-top: 2rem;
  }

  h4, h5 {
    margin: 1rem 0 0 0;
  }

  ul, ol {
    margin-left: 1.5rem;
  }

  ul {
    list-style: disc;

    a {
      color: $heliotrope;
      opacity: 1;
    }
  }

  ol {
    list-style: decimal;
  }

  li {
    margin: 0 0 0.5rem 0;
    letter-spacing: 0.04rem;
    line-height: 1.55;
  }

  hr {
    background-color: $black10;
    height: 0.5px;
    border: 0;
  }

  blockquote {
    font-size: 1.5rem;
    color: $black60;
  }

  cite {
    margin: 0 0 1rem 0;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    margin: 1rem 0;
    border-radius: 2px;
  }

  code {
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    border: 1px solid $light-gray;
    font-family: Menlo,'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Consolas,monospace;
    font-size: 0.8rem;
    vertical-align: text-top;
    word-break: normal;
    vertical-align: middle;
    word-wrap: break-word;

    &:not(.hljs) {
      color: $heliotrope;
      background-color: $heliotrope20;
    }
  }

  pre {
    // max-width: 65%;
    overflow-x: auto;
    word-wrap: break-word;
    font-family: Menlo,'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Consolas,monospace;
    font-size: 0.8rem;
    line-height: 1.7;
    code {
      padding: 1rem;
      border-radius: 4px;
    }
  }
}

#docs-content {
  width: 100%;
}

.docs-layout {
  table {
    line-height: 1.5;

    tbody, tr, td, th {
      border: 1px solid $dark-gray;
      word-wrap: break-word;
    }

    tr, td, th {
      padding: 0.5rem;
    }

    th {
      font-weight: bold;
    }
  }
}

#docs-content{
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: $black;
    position: relative;

    &.show-anchor {
      &::before {
        content: ' ';
        width: 32px;
        height: 16px;
        position: absolute;
        left: -32px;
        top: 3px;
      }

      &:hover:before {
        background: url('/assets/images/icons/anchor-indicator.svg') no-repeat left center;
      }
    }
  }
}

.docs-content__footer {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0 1rem 0;
  padding: 2rem 0 1rem 0;
  border-top: 1px solid $smoke;
}

ul.docs-content__footer__actions {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  list-style: none;
}

.docs-content__footer__action {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 0.9rem;
}

.docs-content__footer__feedback-icon {
  width: 16px;
}

.docs-content__footer__action img {
  margin: 0 0.5rem 0 0;
  border-radius: 0;
}

img.docs-content__footer__share-icon {
  width: 14px;
  margin-bottom: -2px;
}

.desktop-only {
  display: none;
}

.container.container--docs-content .docs-menu {
  display: none;
}

.container.container--mobile-menu {
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    border-bottom: 1px solid $smoke;
  }
}

.open-docs-menu {
  position: relative;
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.open-docs-menu span {
  font-weight: 500;
}

.open-docs-menu img {
  display: flex;
  align-self: center;
}

.docs-menu-arrow {
  background: url('/assets/images/icons/arrow-down-docs-unselected.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 7px;
}

.open-docs-menu.active .docs-menu-arrow {
  width: 11px;
  height: 7px;
  //transform: rotate(180deg);
}

.docs-menu-mobile {
  width: 100%;
  align-items: flex-start;
}

.docs-menu-mobile-container {
  padding-top: 0;
  padding-bottom: 1rem;
  overflow: hidden;
  transition: all 0.5s;
}

.docs-menu-mobile-container.hidden {
  max-height: 0 !important;
  padding-bottom: 0;
}

.docs-layout__docs-nav {
  width: 100%;
  height: auto;
}

.docs-search {
  width: 100%;
}

.container.container--docs-content .algolia-autocomplete {
  width: 100%;
}

@include break($tablet-portrait) {
  .docs-search {
    width: 100%;
  }

  .docs-search.docs-search--mobile {
    display: none;
  }

  .container--mobile-menu {
    display: none;
  }

  .container.container--docs-content .docs-menu {
    display: block;
  }

  .docs-layout {
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .container--docs-content .docs-layout__docs-nav {
    display: flex;
  }

  .docs-layout__docs-nav {
    display: flex;
    width: 30%;
    height: 100%;
    border-right: 1px solid $smoke;
  }

  .docs-layout__docs-content {
    max-width: 65%;
    width: 65%;

    &.container__content--release-notes {
      max-width: 100%;
    }

    article {
      max-width: 100%;
    }
  }

  .docs-content__footer {
    display: flex;
  }
}

@include break($mobile-large-landscape) {
  .docs-layout {
    padding: 2rem 2rem;
  }
}

@include break($tablet-landscape) {
  .docs-layout {
    width: $max-width;
  }

  .docs-layout__docs-content {
    .docs-heading {
      margin: 0 0 1rem 0;
      font-size: 4rem;
    }
  }
}

.algolia-docsearch-footer {
  border-top: 1px solid $light-gray;
}

.algolia-docsearch-footer--logo {
  margin: 0.5rem 0;
}

.algolia-docsearch-suggestion--category-header {
  display: none !important;
}

.algolia-docsearch-suggestion__secondary {
  border-top: 1px solid $light-gray;
}

.algolia-docsearch-suggestion--subcategory-column {
  background: #fff;
  border-right: 1px solid $light-gray;
}

.algolia-docsearch-suggestion--content {
  border-top: 1px solid $light-gray;
}

.aa-dropdown-menu {
  border: 1px solid $light-gray;
  z-index: 750 !important;
}

.aa-suggestion:first-child .algolia-docsearch-suggestion__secondary {
  border-top: 0;
}

.algolia-docsearch-suggestion {
  border-bottom-color: $heliotrope;
}

.algolia-docsearch-suggestion--category-header {
  background-color: $heliotrope;
}

.algolia-docsearch-suggestion--highlight {
  color: $heliotrope;
}

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: $heliotrope;
}

.aa-cursor .algolia-docsearch-suggestion--content {
  color: $black;
}

.aa-cursor .algolia-docsearch-suggestion {
  background: #EBEBFB;
}

@media (max-width: $tablet-portrait - 1) {
  .aa-dropdown-menu {
    width: 100%;
  }

  .algolia-docsearch-suggestion--content {
    padding: 10px 5px;
  }
}

@include break($tablet-portrait) {
  .algolia-docsearch-suggestion--title {
    font-weight: 500;
  }
}

.docs-version-select {
  width: calc(100% - 30px) !important;
}

.docs-menu {
  margin-bottom: 2rem;
  padding-right: 30px;
}

.docs-in-this-post {
  width: 100%;
  margin-top: -1px;
  padding-right: 30px;
}

.docs-in-this-post.is-visible::before {
  content: ' ';
  display: block;
  width: 100%;
  border-top: 1px solid $smoke;
  padding-top: 2rem;
  position: relative;
}

.docs-in-this-post li {
  margin: 1rem 0;
}

.docs-in-this-post li a:hover {
  opacity: 1;
}

.docs-in-this-post li.active a {
  color: $heliotrope;
  opacity: 1;
}

.related-pages > div {
  position: relative;
  max-height: 240px;
  overflow: hidden;

  &::after {
    content: '';
    z-index: 2000;
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 1%, #FFFFFF 98%);
  }
}
