select.dropdown {
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 0 .5rem .75rem;
  border-radius: 3px;
  background-repeat: no-repeat;
  transition: .1s;
  -webkit-appearance: none;
  color: #404040;
  line-height: 1.2;
  border: 0 solid #fff;
  background-color: #F2F2F2;
  background-image: url(/assets/images/icons/arrow-down-docs-unselected.svg);
  background-position: right .6rem center
}

button.dropdown {
  -webkit-appearance: none;
  border: 0;
  transition: 0.1s;
  padding: 0;
  background-color: transparent;
  outline: 0;

  > a {
    margin: 0;
    padding: 0.8rem 0 0.8rem 0.75rem;
    border-radius: 3px;
    background-image: url('/assets/images/icons/arrow-down-docs-unselected.svg');
    background-repeat: no-repeat;
    background-position: right 0.6rem center;
    background-color: $light-gray;

    &.no-arrow {
      background-image: none;
    }

    &.light-arrow {
      background-image: url('/assets/images/icons/arrow-down-docs-unselected-white.svg');
    }
  }

  ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 2.6rem;
    left: 0; right: 0;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out, top .1s ease-in-out;
    z-index: 999;

    margin-top: 0.5rem;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #EDEDED;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);

    li {
      border-bottom: 1px solid #EDEDED;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        margin: 0;
        padding: 0.8rem 0 0.8rem 0.75rem;
        opacity: 1;
        font-weight: normal;

        &:hover {
          background-color: $snow;
        }
      }
    }
  }

  &.is-active {
    > a {
      opacity: .8;
    }

    ul {
      opacity: 1;
      visibility: visible;
    }
  }
}
