.events-container {
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  margin-top: 2rem;

  .container__content:first-child {
    padding-bottom: 2rem;
  }
}

.event-cta {
  align-self: center;
}

.events-container .container__content {
  flex-direction: row;
  padding-top: 0;
}

.events-carousel .card-container {
  transition: all 0.5s;
}

.events-carousel .card {

  .card-copy {
    align-items: flex-start;
  }

  .card-title {
    text-align: left;
  }
}

.events-carousel-btn {
  display: none;
  height: 90px;
  width: 56px;
  background: #F3F3F3;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 32%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.events-carousel-btn--next {
  right: 0;
}

.events-carousel-btn--prev {
  left: 0;
}

.events-carousel-btn img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@include break($mobile-small-landscape) {
  .events-carousel-btn {
    display: block;
    z-index: 1000;
  }

  .events-carousel .card-container {
    flex-flow: row nowrap;
  }

  .events-carousel .card {
    width: 300px;
  }

  .events-static-container .card-container {
    justify-content: center;
  }
}

@include break($tablet-landscape) {
  .events-static-container .card-container {
    flex-flow: row nowrap;
    align-items: center;
  }

  .events-carousel .card {
    min-width: 300px;
    height: 390px;
  }
}

@include break($desktop-small) {
  .events-container {
    align-items: center;
  }
}
