// Base font styling

html {
	font-family: $font-family-base;
	color: $black;
	font-size: 16px;
}

a {
	color: $heliotrope;
	text-decoration: none;
	transition: .1s;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, a, img, figure, blockquote, cite, ul, ol, pre, code {
	margin: 1rem 0;
}

h1, h2, h3 {
	font-family: $clio-light;
}

h1, h2, h3, p, blockquote {
	max-width: 44rem;
}

// Vertical rythm: Major Third
h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.03rem;
}

h2 {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: -0.01rem;
}

.heading-margin-bottom {
	margin-bottom: 2rem;
}

h3 {
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	line-height: 1.5;
}

h4 {
	font-size: 1.25rem;
	font-family: $clio-medium;
	font-weight: 500;
	letter-spacing: 0.03rem;
}

h5 {
	font-size: 1.125rem;
	font-family: $clio-medium;
	font-weight: 500;
	letter-spacing: 0.06rem;
	line-height: 1.5;
}

h6 {
	font-size: 0.9rem;
	font-family: $clio-medium;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

p {
	max-width: 45rem;
	font-weight: 400;
	letter-spacing: 0.03rem;
	line-height: 1.55;

	&.small {
		font-size: 0.9rem;
	}
}

.small,
small {
	font-size: 0.9rem;
}

strong {
	font-weight: 600;
}

blockquote {
	max-width: 45rem;
	letter-spacing: 0.04rem;
	line-height: 1.4;
}

cite {
	letter-spacing: 0.015rem;
	line-height: 1.4;
	font-weight: 500;
}

.text-align-left {
	text-align: left;
	display: flex;
	flex-flow: column;
}

.release-version {
  margin-top: 0;
  color: $dark-gray;
}

.inherit-ul {
  list-style: inherit;
  padding-left: 1em;
  line-height: 1.55em;
}


// text colors
.text-dark-gray {
  color: $dark-gray;
}


// Breakpoints

@include break($tablet-landscape) {
	html {
		font-size: 16px;
	}

	// Vertical rythm: Perfect Fourth
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.3rem;
	}

	h3 {
		font-size: 1.7rem;
	}

	h4 {
		font-size: 1.3rem;
	}

	h5 {
		font-size: 1rem;
		line-height: 1.5;
	}
}
