  // Universal footer styling

.container__content.container__content--footer {
  padding: 0;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  padding: 1rem 0;
  color: $black60;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  // box-shadow: 0 -1px 0 0 $white10;

  ul {
    margin: 0;
  }

  a{
    color: $black60;
    transition: .1s;

    &:hover {
      color: black;

      .footer-item__icon {
        opacity: 1;
      }
    }
  }
}

.footer-main, .footer-secondary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

// .footer-secondary {
//   order: 2;
// }
//
// .footer-main {
//   order: 1;
// }

.footer-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;

  a {
    vertical-align: top;
  }
}

.footer-item__icon {
  width: 16px;
  margin-right: 0.5rem;
  margin-bottom: -3px;
  opacity: 0.6;
}

.twitter-icon {
  margin-top: 3px;
}

// Dark background exception

.container--dark-background {
  .footer {
    a {
      color: $white60;

      &:hover {
        color: white;
      }
    }
  }
}

@include break($tablet-portrait) {
  .footer ul {
    flex-flow: row;
  }
}

@include break($tablet-landscape) {
  .footer {
    display: flex;
    flex-flow: row;
  }

  .footer-main, .footer-secondary {
    flex-flow: row;
  }

  .footer-secondary {

    .footer-item:last-child {
      padding-right: 0;
    }
  }

  .footer-main {

    .footer-item:first-child {
      padding-left: 0;
    }
  }
}
