.navigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  padding: 0 1.5rem;
  letter-spacing: 0.04rem;
  font-size: 0.9rem;

  ul {
    margin: 0;

  a {
    color: $black60;
  }
}

  .cta {
    color: $black60;
    margin: 0;
  }

  .cta--button {
    border-color: $black60;
  }
}

.logo {
  width: 4rem;
  align-self: flex-start;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.nav-logo-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.container--dark-background {
  .navigation a {
    color: $white60;
  }
}


.header-item__icon {
  width: 16px;
  margin-right: 0.5rem;
  opacity: 0.6;
}

@include break($tablet-portrait) {
  .navigation {
    display: flex;
    flex-flow: row;
    padding: 0 2rem;
    background-color: transparent;
  }

  .main-nav-container, .menu, .secondary-menu {
    flex-flow: row nowrap;
  }

  .menu-item {
    padding: 1rem;
  }

  .menu-item:last-child {
    // padding: 0 0 0 1rem;
  }
}

@include break($desktop-large) {
  .navigation {
    padding: 0 2rem;
  }
}
