.navigation {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;

  a {
    color: $white60;
  }
}

.logo {
  width: 5rem;
  align-self: center;
}

.main-nav-container, .menu, .secondary-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  padding: 0 1rem;
}

@include break ($mobile-small-landscape) {
  .navigation {
    display: flex;
  }
}

@include break($mobile-large-landscape) {
  .navigation {
    padding: 0 2rem;
  }
}

@include break($desktop-large) {
  .navigation {
    padding: 0 2rem;
  }
}
