// Nav icon

#nav-icon {
  width: 20px;
  height: 18px;
  position: relative;
  margin: 1rem 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon.dark span {
  background: black;
}

.navigation.mobile-menu--open #nav-icon span {
  background: #fff;
}

.navigation.mobile-menu--open #nav-icon.dark span {
  background: black;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 8px;
}

#nav-icon span:nth-child(4) {
  top: 16px;
}

.mobile-menu--open {

  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
  }
}

.navigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  padding: 0 1.5rem;
  letter-spacing: 0.04rem;
  font-size: 0.9rem;
  font-weight: 500;
  }

  ul {
    margin: 0;

  a {
    color: black;
    transition: .2s;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }

  .cta {
    color: black;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .menu-item {
    .cta--button {
      border: 1px solid black;
      color: black;

      &:hover {
        color: white;
        background-color: black;
        opacity: 1;
      }
    }
  }
}

.navigation .logo {
  height: 39px;
  width: 6rem;
  align-self: flex-start;
  background: url('/assets/images/dcos-logo-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background 1s;
}

.navigation .logo.dark {
  background: url('/assets/images/dcos-logo-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background 1s;
}

.navigation.mobile-menu--open .logo {
  background: url('/assets/images/dcos-logo-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background 1s;
}

.mobile-nav-container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.menu {
  display: none;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.menu-mobile {
  background-color: $black95;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 100vw;
  top: 0;
  z-index: 998;
  padding: 5rem 0;
  transition: all 0.3s ease;
  overflow: hidden;

  &.menu-mobile--docs {
    background-color: $white95;

    .menu-item a {
      color: black;
    }
  }

  &.open {
    left: 0vw;
  }

  .menu-item {
    justify-content: space-around;
    text-align: center;


    a {
      margin: 0;
      opacity: 1;
      color: white;
    }
  }
}

.nav-logo-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu-item__github {
  span {
    vertical-align: top;
  }
}

.container--dark-background {
  .navigation a {
    color: white;
  }

  .navigation {
    font-weight: 400;

    .menu-item {

      a.cta--button {
        border: 1px solid white;
        color: white;
        font-weight: 400;

        &:hover {
          color: black;
          background-color: white;
        }
      }
    }
  }
}

.header-item__icon {
  width: 16px;
  margin-top: -1px;
  margin-right: 0.5rem;
}

@include break($tablet-landscape) {
  .navigation {
    display: flex;
    flex-flow: row;
    padding: 0 2rem;
    background-color: transparent;

    .logo, .cta--button {
      margin-top: 2px;
    }
  }

  .menu-mobile, #nav-icon {
    display: none;
  }

  .menu {
    display: flex;
  }

  .main-nav-container, .menu, .secondary-menu {
    flex-flow: row nowrap;
  }

  .menu-item {
    padding: 1rem;
  }

  // Kill the mobile menu
  .snap-drawers, .nav-hamburger {
    display: none;
  }
}

@include break($desktop-large) {
  .navigation {
    padding: 0 2rem;
  }
}
