// Styling of the hero block

.container__content--hero-heading, .container__content--hero-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	text-align: center;
}

.hero-subtitle {
	opacity: 0.8;
}

.hero-image {
	display: none;
	align-self: center;
	width: 200px;
	margin: 1rem 0;
}

.hero-cta-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.hero-divider {
	width: 100%;
	margin: 2rem 0;
	border: 0;
	height: 0;
	border-top: 0.5px solid $white10;
}

.container__content--hero-list {
	list-style: none;
}

.hero-list__item {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.hero-list__item__image {
	min-width: 21px;
	height: 21px;
	margin: 0 0 1rem 0;
}

.hero-list__item__copy__title {
	margin: 0 0 0.5rem 0;
	font-size: 1.125rem;
}

.hero-list__item__copy__paragraph {
	margin: 0;
	letter-spacing: 0.03rem;
}

.container--dark-background {
	.hero-list__item__copy__paragraph {
		font-weight: 300;
		opacity: 0.8;
	}
}


// Media queries

@include break($mobile-large-portrait) {
	.container__content--hero-list {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.hero-list__item {
		align-items: flex-start;
		text-align: left;
		flex-basis: 48%;
	}

	.hero-list__item__image {
		margin: 0 0 1.5rem 0;
	}

	// Styling the Hero of the Community page
	.community-hero {
		.hero-divider {
			opacity: 0;
		}

		.container__content--hero-list {
			flex-flow: column;
			align-items: center;
		}

		.hero-list__item {
			align-items: center;
			flex-basis: auto;
			width: 80%;
			text-align: center;
		}

		.hero-list__item__image {
			width: 32px;
			min-width: 32px;
		}
	}
}

@include break($mobile-small-landscape) {
	.container__content--hero-heading, .container__content--hero-list {
		align-items: flex-start;
		text-align: left;
	}

	.container__content--hero-list {
		align-items: flex-start;
	}

	.hero-image {
		display: flex;
	}

	.hero-cta-container {
		flex-flow: row nowrap;
		justify-content: flex-start;

		.cta {
			width: auto;
		}
	}

	.cta--video {
		margin: 0 0 0 2rem;
	}
}

@include break($mobile-large-landscape) {
	.container__content--hero-heading {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.hero-title-cta-container, .hero-image {
		align-items: center;
	}

	.hero-title-cta-container {
		flex-basis: 56%;
	}

	.hero-image {
		flex-basis: 40%;
	}

	.hero-list__item__image {
		min-width: 42px;
		height: 42px;
	}
}

@include break($tablet-portrait) {
	// Styling the Hero of the Community page
	.community-hero {
		.container__content--hero-list {
			flex-flow: row;
			align-items: flex-start;
		}

		.hero-list__item {
			align-items: flex-start;
			flex-basis: 32%;
			width: auto;
			text-align: left;
		}
	}
}

@include break($tablet-landscape) {
	.hero-title-cta-container {
		flex-basis: 50%;
	}

	.hero-image {
		flex-basis: 48%;
	}
}

@include break($desktop-small) {
	.hero-list__item {
		flex-basis: 22%;
		align-self: flex-start;
	}

	.hero-list__item__copy__paragraph {
		letter-spacing: 0.05rem;
		line-height: 1.5;
	}

	.hero-list__item__copy a {
		// font-size: 0.75rem;
		letter-spacing: 0.05rem;
		line-height: 1.5;
	}
}
