// Styling of the hero block

.container__content--hero-heading, .container__content--hero-list {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	text-align: center;
}

.hero-subtitle {
	opacity: 0.8;
}

.hero-image {
	display: none;
	align-self: center;
	width: 200px;
	margin: 1rem 0;
}

.typer {
  border-right: 2px solid $heliotrope;

  &.animating {
    animation-name: blink;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
  }

	&.get-started-typer {
		display: inline;
	}
}

.get-started-typer {
	display: inline;
  border-right: 2px solid $heliotrope;

  &.animating {
    animation-name: blink;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
  }
}

@keyframes blink {
  from, to {
    border-right: 2px solid rgba(red($heliotrope), green($heliotrope), blue($heliotrope), 1.0);
  }
  50% {
    border-right: 2px solid rgba(red($heliotrope), green($heliotrope), blue($heliotrope), 0.0);
  }
}

.hero-cta-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.hero-divider {
	width: 100%;
	margin: 2rem 0;
	border: 0;
	height: 0;
	border-top: 0.5px solid $white10;
}

.container__content--hero-list {
	list-style: none;
}

.hero-list__item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 2rem;
}

.hero-list__item__image {
	min-width: 42px;
	max-width: 42px;
  height: 42px;
	margin: 0 0 1rem 0;
}

.install-columns .hero-list__item__image {
	margin-bottom: 0rem;
}

.hero-list__item__copy {
	display: flex;
	flex-flow: column nowrap;

	.cta--text {
		color: $heliotrope;
		margin-top: 1rem;
		opacity: 1;
	}
}

.container--dark-background {
	.hero-list__item__copy {

		.cta--text {
			color: white;
		}
	}
}

.hero-list__item__copy__title {
	margin: 0 0 0.5rem 0;
	font-size: 1.25rem;
}

.hero-list__item__copy__paragraph {
	margin: 0;
	letter-spacing: 0.03rem;
}

.container--dark-background {
	.hero-list__item__copy__paragraph {
		font-weight: 300;
		opacity: 0.8;
	}
}

// Media queries

@include break($mobile-large-portrait) {
	.container__content--hero-list {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.hero-list__item {
		align-items: flex-start;
		text-align: left;
		width: 48%;
		flex-basis: 48%;
	}

	.hero-list__item__image {
		margin: 0 0 1.5rem 0;
	}



	// Styling the Hero of the Community page
	.community-hero {
		.hero-divider {
			opacity: 0;
		}

		.container__content--hero-list {
			flex-flow: column;
			align-items: center;
		}

		.hero-list__item {
			align-items: center;
			flex-basis: auto;
			width: 80%;
			text-align: center;
		}

		.hero-list__item__image {
			width: 32px;
      height: 32px;
			min-width: 32px;
			max-width: 32px;

			&.larger-icon {
				width: 42px;
	      height: 42px;
				min-width: 42px;
				max-width: 42px;
			}
		}
	}
}

@include break($mobile-large-portrait) {
	.hero-cta-container {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;

		.cta {
			width: auto;
		}
	}

	.cta--video {
		margin: 0 0 0 2rem;
	}
}

@include break($mobile-large-landscape) {
	.container__content--hero-heading, .container__content--hero-list {
		align-items: flex-start;
		text-align: left;
	}

	.container__content--hero-list {
		align-items: flex-start;
	}

	.hero-image {
		display: flex;
	}
}

@include break($mobile-large-landscape) {
	.container__content--hero-heading {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.hero-title-cta-container, .hero-image {
		align-items: center;
	}

	.hero-title-cta-container {
		flex-basis: 56%;
		width: 56%;
	}

	.hero-image {
		flex-basis: 40%;
		width: 40%;
	}

	.hero-list__item__image {
		min-width: 42px;
		max-width: 42px;
    height: 42px;
	}
}

@include break($tablet-portrait) {
	.container__content--hero-list {
		margin-bottom: 0;
	}

	// Styling the Hero of the Community page
	.community-hero {
		.container__content--hero-list {
			flex-direction: row;
			align-items: flex-start;
			margin-bottom: 0;
		}

		.hero-list__item {
			align-items: flex-start;
			flex-basis: 32%;
			width: auto;
			text-align: left;
			margin-bottom: 0;
		}
	}
}

@include break($tablet-landscape) {
	.hero-title-cta-container {
		flex-basis: 50%;
		width: 50%;
	}

	.hero-image {
		flex-basis: 48%;
		width: 48%;
	}
}

@include break($desktop-small) {
	.hero-content {
		padding-top: 4rem;
	}

	.hero-list__item {
		flex-basis: 22%;
		width: 22%;
		align-self: flex-start;
		margin-bottom: 0;
	}

	.hero-list__item__copy {
		width: 100%;
	}

	.hero-list__item__copy__paragraph {
		letter-spacing: 0.05rem;
		line-height: 1.5;
	}

	.hero-list__item__copy a {
		// font-size: 0.75rem;
		letter-spacing: 0.05rem;
		line-height: 1.5;
	}
  .hero-title {
    font-size: 3.9rem;
  }
}


// Internet Explorer 11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.container__content--hero-heading {
		width: 1024px;
		height: 450px;
	}

	.container__content--hero-list {
		width: 1024px;
	}
}
