.overlay {
	display: flex;
  flex-flow: column nowrap;
  justify-content: center;
	background-color: $black;
	background-image: linear-gradient(to top, $black, $persian-indigo);
	opacity: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: -100;

  iframe {
    align-self: center;
    width: 960px;
    height: 720px;
  }
}
.overlay-close {
  align-self: center;
	font-size: 32pt;
	color: white;
}
.overlay-visible {
	opacity: 1;
	z-index: 100;
	transition: opacity 100ms ease-in;
}
