body.overlay-active {
  overflow: hidden;
}

.overlay {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -100;
	background-color: $black;
	background-image: linear-gradient(to top, $black, $persian-indigo);
	opacity: 0;
}

.overlay__close-cta {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;

	a {
		margin: 0;
	}
}

.overlay__video {
	iframe {
		width: 320px;
		height: 240px;
	}
}

.overlay-visible {
	opacity: 1;
	z-index: 100;
	transition: opacity 100ms ease-in;
}

// Feedback modal
// ------------------------------------------

.overlay--feedback {
	background-color: $black70;
	background-image: none;
}

.overlay__modal {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	// width: 100%;
	padding: 1.5rem 2rem;
	background-color: white;
}

.overlay__modal__label {
	font-family: $clio-medium;
	font-size: 1.125rem;
}

.overlay__modal__text-input {
	border: 1px solid $black30;
	border-radius: 2px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.overlay__modal__input-identity {
	display: flex;
	flex-flow: row;
	align-items: center;
	width: 100%;
	margin: 0.75rem 0;
}

.overlay__modal__text-input {
	margin: 2rem 0;
	// padding: 1rem 0.5rem;
	// line-height: 1.5;
}

.input-name, .overlay__modal__input-comment {
	display: flex;
	flex-flow: column;
	// width: 100%;
	// margin: 0.75rem 0;
}

.input-name {
	width: 220px;
	margin: 1rem 0.625rem;
}

.overlay__modal__input-comment {
	.overlay__modal__text-input {
		width: 460px;
		min-height: 100px;
	}
}

.overlay__modal__input-cta {
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	input {
		-webkit-appearance: button; /* for input */
		-webkit-user-select: none; /* for button */
		   -moz-user-select: none;
		    -ms-user-select: none;
	}

}

.overlay__modal__input-cta__submit {
	margin-right: 1rem;
}


@include break($tablet-portrait) {
	.overlay__video {
		iframe {
			width: 640px;
			height: 480px;
		}
	}
}

@include break($desktop-small) {
	.overlay__close-cta {
		top: 3rem;
		right: 3rem;
	}

	.overlay__video {
		iframe {
			width: 960px;
			height: 720px;
		}
	}
}
