.partner-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.partner-grid__logo {
  flex-basis: 42%;
  margin: 0;
}

@include break($mobile-large-portrait) {
  .partner-grid__logo {
    flex-basis: 27%;
    width: 27%;
  }
}

@include break($mobile-small-landscape) {
  .partner-grid__logo {
    flex-basis: 20%;
    width: 20%;
  }
}
