.partner-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.partner-grid__logo {
  flex-basis: 35%;
  margin: 1rem;
}

@include break($mobile-small-landscape) {
  .partner-grid__logo {
    flex-basis: 25%;
    width: 25%;
  }
}

@include break($tablet-portrait) {
  .partner-grid__logo {
    margin: 2rem 1rem;
  }
}

@include break($tablet-landscape) {
  .partner-grid__logo {
    flex-basis: 20%;
    width: 20%;
  }
}

@include break($desktop-small) {
  .partner-grid__logo {
    margin: 1rem;
  }
}
