.partner-quote-block-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  align-items: center;
}

.partner-quote-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  transition: opacity 200ms;
  min-width: 100%;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  &.hidden {
    position: absolute;
    left: 0;
    opacity: 0;
  }
}

.partner-quote-block__quote {
  max-width: 52rem;
  font-family: $clio-medium;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.01rem;
}

.partner-quote-block__cite {
  font-size: 1rem;
  margin: 0.5rem 0 2rem 0;
  color: $dark-gray;
}

.partner-quote-logo-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.partner-quote-logo-list__partner-quote-logo {
  display: none;
  padding-bottom: 15px;

  &.active {
    display: block;
  }

  img {
    width: 120px;
    opacity: 0.3;
    transition: opacity 200ms;
  }
}

.partner-quote-logo-list__partner-quote-logo a {
  cursor: pointer;
  opacity: 1;
}

.partner-quote-logo-list__partner-quote-logo:last-child {
  padding-bottom: 0;
}

.partner-quote-logo-list__partner-quote-logo.active, .partner-quote-logo-list__partner-quote-logo:hover {
  img {
    width: 120px;
    opacity: 1;
  }
}

.quote-block {
  margin-bottom: 3rem;

  p {
    margin-top: 0px;
  }

  &:last-child {
    margin-bottom:0px;
  }
  .quote-image {
    height: 50px;
  }
}

@include break($mobile-large-landscape) {
  .partner-quote-block {
    width: 80%;
  }

  .partner-quote-logo-list__partner-quote-logo {
    padding-bottom: 0;
  }
}

@include break($tablet-portrait) {
  .partner-quote-logo-list {
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .partner-quote-logo-list__partner-quote-logo {
    display: flex;
    margin: 0 1.5rem;
  }
}
