.partner-quote-block {
	display: flex;
	flex-flow: column nowrap;
	text-align: center
}

.partner-quote-block__quote {
	max-width: 52rem;
	font-family: $clio-medium;
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0.01rem;
}

.partner-quote-block__cite {
	font-size: 1rem;
	margin: 0.5rem 0 2rem 0;
}

.partner-quote-logo-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.partner-quote-logo-list__partner-quote-logo {
	img {
		width: 120px;
	}
}

@include break($mobile-large-landscape) {
	.partner-quote-block {
		width: 80%;
	}
}

@include break($tablet-portrait) {
	.partner-quote-logo-list {
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}

	.partner-quote-logo-list__partner-quote-logo {
		margin: 0 1.5rem;
	}
}
