table.releases {
	text-align: left;

	thead th {
		margin: 0 0 0.5rem 0;
		font-size: 1.125rem;
		font-family: "ClioRegular";
		font-weight: 500;
		letter-spacing: 0.06rem;
		padding: 0 2rem;
	}

	tbody td {
		width: auto;
		margin-bottom: 2rem;
		padding: 0 2rem;

		a {
			white-space: nowrap;
		}
	}
}

.docs-layout__docs-content.container__content--release-notes {
  align-items: flex-start;
  text-align: left;
	width: 100%;
  //padding: 2rem;

	p, ul, li {
		width: 100%;
		max-width: none;
	}

  strong {
    font-weight: bold;
  }
}

.release-channels .card {
  flex-direction: row;

  a.card{
    padding: 10px;
    width: 110px;
    height: 52px;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    img{
      margin: 0 auto;
    }
  }
}

.release-channels .card .card-content {
  padding: 0;
  margin: 1rem;
  flex: 1;
  justify-content: flex-start;
  padding-bottom: 10rem;
	align-self: flex-start;
}

.release-button-group {
  position: absolute;
  margin: 0;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .docs-layout__docs-content.container__content--release-notes {
		max-width: 1024px;
		width: 1024px;
    display: block;
	}
}
