table.releases {
	text-align: left;

	thead th {
		margin: 0 0 0.5rem 0;
		font-size: 1.125rem;
		font-family: "ClioRegular";
		font-weight: 500;
		letter-spacing: 0.06rem;
		padding: 0 2rem;
	}

	tbody td {
		width: auto;
		margin-bottom: 2rem;
		padding: 0 2rem;

		a {
			white-space: nowrap;
		}
	}
}
