.stack-diagram-mobile {
  display: flex;
  flex-flow: column;
  margin: 2rem 0;

  img {
    margin-bottom: 1rem;
  }
}

.stack-diagram-mobile__container {
  margin: 2rem 0;
}


.stack-diagram {
  display: none;
  margin: 10rem 2rem;
  position: relative;
  height: 215px;
  width: 100%;
}

.stack-diagram__top, .stack-diagram__middle, .stack-diagram__bottom {
  margin: auto;
  left: 0; right: 0;
  position: absolute;
  width: 100%;
  transition: top 0.8s ease;
}

.stack-diagram__top-info, .stack-diagram__middle-info, .stack-diagram__bottom-info {
  display: none;
  position: absolute;
  text-align: left;
  width: 200px;
  opacity: 1;
  transition: all 0.3s;

  &.hide {
    opacity: 0;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  p {
    margin-top: 0px;
    font-size: 0.9rem;
  }
}

.stack-diagram__arrow {
  position: absolute;
  border-top: 2px solid #CFA8FF;
  top: 50%;
}

.stack-diagram__dot {
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #CFA8FF;
  top: -4px;
}

.stack-diagram__top {
  z-index: 3;
  top: -34px;
  height: 215px;
  background-image: url('/assets/images/stack/top.png');
  background-size: 404px auto;
  background-repeat: no-repeat;
  background-position: center;

  &.animate {
    top: -52px;
  }

  .stack-diagram__arrow {
    right: -230px;
    width: 230px;
  }

  .stack-diagram__dot {
    right: 0;
  }
}

.stack-diagram__top-info {
  left: 0;
  top: -40px;

  &.hide {
    top: -60px;
  }
}

.stack-diagram__middle {
  z-index: 2;
  top: 0;
  height: 213px;
  background-image: url('/assets/images/stack/middle.png');
  background-size: 404px auto;
  background-repeat: no-repeat;
  background-position: center;

  .stack-diagram__arrow {
    left: -80px;
    width: 70px;
  }

  .stack-diagram__dot {
    left: 0;
  }
}

.stack-diagram__middle-info {
  right: 0;
  top: 20px;

  &.hide {
    top: 0;
  }
}

.stack-diagram__bottom {
  z-index: 1;
  top: 63px;
  height: 186px;
  background-image: url('/assets/images/stack/bottom.png');
  background-size: 404px auto;
  background-repeat: no-repeat;
  background-position: center;

  &.animate {
    top: 80px;
  }

  .stack-diagram__arrow {
    right: -180px;
    width: 180px;
  }

  .stack-diagram__dot {
    right: 0;
  }
}

.stack-diagram__bottom-info {
  width: 280px;
  left: 0;
  top: 73px;

  &.hide {
    top: 60px;
  }
}

@include break($tablet-landscape) {
  .stack-diagram-mobile {
      display: none;
  }

  .stack-diagram {
    display: flex;
  }

  .stack-diagram__top-info, .stack-diagram__middle-info, .stack-diagram__bottom-info {
    display: block;
  }
}

@include break($desktop-small) {
  .stack-diagram__top-info, .stack-diagram__middle-info, .stack-diagram__bottom-info {
    width: 250px;
  }
}
