// Background colors based on variables found in _variables
.text-white { color: #FFFFFF; }
.text-gray { color: $snow; }
.text-snow { color: $snow; }
.text-smoke { color: $smoke; }
.text-black { color: $black; }
.text-light-gray { color: $light-gray; }
.text-dark-gray { color: $dark-gray; }
.text-persian-indigo { color: $persian-indigo; }
.text-purple { color: $purple; }
.text-heliotrope { color: $heliotrope; }
.text-space-gray { color: $space-gray; }
