// Background colors based on variables found in _variables
.text-white { color: #FFFFFF !important; }
.text-gray { color: $snow !important; }
.text-snow { color: $snow !important; }
.text-smoke { color: $smoke !important; }
.text-black { color: $black !important; }
.text-light-gray { color: $light-gray !important; }
.text-dark-gray { color: $dark-gray !important; }
.text-persian-indigo { color: $persian-indigo !important; }
.text-purple { color: $purple !important; }
.text-heliotrope { color: $heliotrope !important; }
.text-space-gray { color: $space-gray !important; }
