// Solid colors
$snow: #FAFAFA; // “You know nothing, Jon Snow.”
$smoke: #F3F3F3;
$black: #404040;
$light-gray: #E5E5E5;
$dark-gray: #A1A1A1;
$persian-indigo: #2A1457;
$purple: #442484;
$heliotrope: #9351E5;
$space-gray: #323A4E;
$dark-purple: #0C0618;

// Transparent colors
$white10: rgba(255, 255, 255, 0.1);
$white60: rgba(255, 255, 255, 0.6);
$white95: rgba(255, 255, 255, 0.95);
$black05: rgba(0, 0, 0, 0.05);
$black10: rgba(0, 0, 0, 0.1);
$black30: rgba(0, 0, 0, 0.3);
$black60: rgba(0, 0, 0, 0.6);
$black70: rgba(0, 0, 0, 0.7);
$black95: rgba(0, 0, 0, 0.95);
$heliotrope20: 	rgba(147, 81, 229, 0.2);
$persian-indigo80: rgba(42,20,87, 0.8);
$dark-purple80: rgba(12,6,24, 0.8);

// Web fonts
$clio-light: 'ClioLight-Light';
$clio-medium: 'ClioRegular';
$font-family-base: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// Breakpoints
$mobile-large-portrait: 414px; // iPhone 6 Plus portrait
$mobile-small-landscape: 560px; // iPhone 5 landscape
$mobile-large-landscape: 736px; // iPhone 6 Plus landscape
$tablet-portrait: 768px; // iPad portrait
$tablet-landscape: 890px; // iPad landscape
$desktop-small: 1025px; // Larger than iPad landscape
$desktop-large: 1430px;

// Sizes
$max-width: 1024px; // Maximum width for content

// Basscss
$width-4: 60rem;
