// Web fonts

@font-face {
	font-family: 'ClioRegular';
	src: url('/assets/fonts/30CF6F_17_0.eot');
	src: url('/assets/fonts/30CF6F_17_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/30CF6F_17_0.woff2') format('woff2'),url('/assets/fonts/30CF6F_17_0.woff') format('woff'),url('/assets/fonts/30CF6F_17_0.ttf') format('truetype');
}

@font-face {
	font-family: 'ClioLight-Light';
	src: url('/assets/fonts/30CF6F_F_0.eot');
	src: url('/assets/fonts/30CF6F_F_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/30CF6F_F_0.woff2') format('woff2'),url('/assets/fonts/30CF6F_F_0.woff') format('woff'),url('/assets/fonts/30CF6F_F_0.ttf') format('truetype');
}
