.why-content-image {
  display: flex;
  flex-flow: column-reverse;
  margin-top: 4rem;

  .mirrored {
    order: 1;
  }
}

.why-content__copy-list {
  display: flex;
  flex-flow: column;


  li {
    margin: 1rem 0;
  }

  p {
    margin-top: 0;
  }
}

.why-content-image__icon-container {
  display: flex;
  align-items: center;
}

.why-content__copy-list__title {
	margin: 1rem 0 0rem 0;
	font-size: 1.125rem;
}

.why-dcos-icon {
  width: 60px;
  margin: 1rem 0;
}



@include break($desktop-small) {

  .why-content__copy-list {
    margin-bottom: 0;
  }

  .why-content__icon {
    position: absolute;
    margin-left: -3rem;
    margin-top: 0.7rem;
  }

  .why-content-image {
    flex-flow: row;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }

  .why-content-image__icon-container {
    display: flex;
    align-items: center;
    img {
      max-width: 428px;
      width: 428px;
      margin-top: 4rem; // compensates for the drop shadow in the image
    }
  }

  .why-content-image__copy {
    flex-basis: 40%;
  }

  .why-content__copy-list {
    padding-left: 4rem;
  }

  .why-content-image__image-container {
    align-self: center;
    flex-basis: 50%;
  }

  .why-copy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
  }

  .why-copy__blurb {
    flex-basis: 40%;
  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .why-dcos-container {
    .container__content {
      width: 1024px;
    }
  }
}
