// @import 'ace';
@import './variables';
@import '../../node_modules/basscss-sass/scss/basscss';
@import '../../node_modules/spinkit/scss/spinners/7-three-bounce';
@import './webfonts';
@import './normalize/normalize';
@import './reset';
@import './mixins';
@import './fonts';
@import './base';
@import './header';
@import './footer';
@import './cta';
@import './container';
@import './hero';
@import './card';
@import './case-study';
@import './quotes';
@import './lists';
@import './images';
@import './why';
@import './releases';
@import './getstarted';
@import './partners';
@import './docs';
@import './install';
@import './overlay';
@import './events';
@import './community';
@import './animations';
@import './modal';
@import './stackdiagram';
@import './404';
@import './get-started';
@import './overrides';
@import './blog';
@import './spinkit';
@import './pages/demos';
@import './_dropdown.scss';
@import './_pills.scss';
@import './carousel.scss';

.bg-gray{
  background-color: $snow;
}

.btn{
  outline: 0;
  cursor: pointer;
}
  .btn-primary{
    background-color: $heliotrope;
    color: #FFF;
    font-weight: 500;
    padding: .8rem 1.5rem;
    border-radius: .25rem;
    transition: opacity .1s ease-in-out;

    &:hover{
      opacity: .8;
    }
  }
