extends ../../../layouts/blog.jade

block head
  title The Definitive Platform for Modern Apps | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')

block content
  .container.container--blog-header
    +header
    
    .container__content
      .blog__category Services
      .blog__divider
      h2 Introducing open source DC/OS: The best way to run containers (and everything else)
      
  .container
    .container__content
      .post-meta
        .post-meta__author Aaron Williams
        .post-meta__date June 5th 2016
        .post-divider
      
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus tristique augue a dapibus. Praesent lobortis vitae tellus in dictum. Fusce ullamcorper, erat at lacinia dignissim, est orci dictum nunc, ac pellentesque massa elit ut ante. Morbi lacinia est nec nunc dignissim, vitae finibus felis dapibus. Duis a sapien eu mi suscipit viverra vel id metus. Suspendisse potenti. Vivamus dictum elit mi, nec pretium nulla auctor vel. Morbi diam nunc, ornare ac lacus ut, vestibulum vulputate risus. Integer vulputate neque sit amet malesuada efficitur. Suspendisse potenti. Cras at mi congue, commodo felis id, commodo leo. Aenean eu neque nunc. Nunc consectetur justo nisl, vitae scelerisque enim tincidunt ut. Nam rutrum tellus magna, in lacinia metus condimentum eget. Morbi non arcu ipsum. Cras sodales purus quis diam laoreet congue.
      
  .container
    +footer
