img(src='/assets/images/icons/cassandra.png').card-logo

h2 Run Cassandra on DC/OS

p.install-time Estimated time: 45min

p.install-requirements Requirements: At least 3 nodes

p.install-description This tutorial covers the basics to get you started with Cassandra on DC/OS.

.install-cta-container
  a(href="https://dcos.io/docs/latest/usage/tutorials/cassandra").cta.cta--button.button--secondary Tutorial
