.card-logo
  img(src='/assets/images/icons/get-started/cassandra.png')

h2 Run Cassandra on DC/OS

p.install-time <strong>Estimated time:</strong> 15min

p.install-requirements Requires at least 3 nodes

p.install-description This tutorial covers the basics to get you started with Cassandra on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/cassandra" target="_blank").cta.cta--button.button--secondary Start Tutorial
