.card-logo
  img(src='/assets/images/icons/services/chronos.png')

h2 Run Chronos on DC/OS

p.install-time <strong>Estimated time:</strong> 5min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Chronos on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/chronos" target="_blank").cta.cta--button.button--secondary Start Tutorial
