img(src='/assets/images/icons/chronos.png').card-logo

h2 Run Chronos on DC/OS

p.install-time Estimated time: 15min

p.install-requirements Requirements: At least 1 node

p.install-description This tutorial covers the basics to get you started with Chronos on DC/OS.

.install-cta-container
  a(href="https://dcos.io/docs/latest/usage/tutorials/chronos").cta.cta--button.button--secondary Tutorial
