img(src='/assets/images/icons/services/chronos.png').card-logo

h2 Run Chronos on DC/OS

p.install-time Estimated time: 5min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Chronos on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/chronos").cta.cta--button.button--secondary Start Tutorial
