h2 Run Chronos on DC/OS

p Estimated time: 15min

p Requirements: At least 1 node

p This tutorial covers the basics to get you started with Chronos on DC/OS.

a(href="https://dcos.io/docs/latest/usage/tutorials/chronos") Start Tutorial
