img(src='/assets/images/icons/jenkins.png').card-logo

h2 Run Jenkins on DC/OS

p.install-time Estimated time: 45min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Jenkins on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/jenkins").cta.cta--button.button--secondary Start Tutorial
