h2 Run Jenkins on DC/OS

p Estimated time: 15min to 1h

p Requirements: At least 1 node

p This tutorial covers the basics to get you started with Jenkins on DC/OS.

a(href="https://dcos.io/docs/latest/usage/tutorials/jenkins") Start Tutorial
