.card-logo
  img(src='/assets/images/icons/get-started/jenkins.png')

h2 Run Jenkins on DC/OS

p.install-time <strong>Estimated time:</strong> 45min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Jenkins on DC/OS.

.install-cta-container
  a(href="https://github.com/dcos/examples/blob/master/1.8/jenkins" target="_blank").cta.cta--button.button--secondary Start Tutorial
