img(src='/assets/images/icons/services/kafka.png').card-logo

h2 Run Kafka on DC/OS

p.install-time Estimated time: 20min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Kafka on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/kafka").cta.cta--button.button--secondary Start Tutorial
