img(src='/assets/images/icons/kafka.png').card-logo

h2 Run Kafka on DC/OS

p.install-time Estimated time: 20min

p.install-requirements Requirements: At least 2 node

p.install-description This tutorial covers the basics to get you started with Kafka on DC/OS.

.install-cta-container
  a(href="https://dcos.io/docs/latest/usage/tutorials/kafka").cta.cta--button.button--secondary Tutorial
