img(src='/assets/images/icons/services/spark.png').card-logo

h2 Run Marathon on DC/OS

p.install-time Estimated time: 20min

p.install-requirements Requirements: At least 1 node

p.install-description This tutorial covers the basics to get you started with Marathon on DC/OS.

.install-cta-container
  a(href="https://dcos.io/docs/latest/usage/tutorials/marathon").cta.cta--button.button--secondary Action One
  a(href="https://dcos.io/docs/latest/usage/tutorials/marathon").cta.cta--button.button--secondary Action Two
