h2 Run Marathon on DC/OS

p Estimated time: 20min

p Requirements: At least 1 node

p This tutorial covers the basics to get you started with Marathon on DC/OS.

a(href="https://dcos.io/docs/latest/usage/tutorials/marathon") Start Tutorial
