.card-logo
  img(src='/assets/images/icons/services/marathon.png')

h2 Run Marathon on DC/OS

p.install-time Estimated time: 5min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Marathon on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/marathon" target="_blank").cta.cta--button.button--secondary Start Tutorial
