img(src='/assets/images/icons/spark.png').card-logo

h2 Run Spark on DC/OS

p.install-time Estimated time: 25min

p.install-requirements Requires at least 1 node

p.install-description This tutorial covers the basics to get you started with Spark on DC/OS.

.install-cta-container
  a(href="/docs/latest/usage/tutorials/spark").cta.cta--button.button--secondary Start Tutorial
