h2 Run Spark on DC/OS

p Estimated time: up to 1h

p Requirements: At least 2 node

p This tutorial covers the basics to get you started with Spark on DC/OS.

a(href="https://dcos.io/docs/latest/usage/tutorials/spark") Start Tutorial
