include ./footer-libraries.jade

mixin footer()
  .footer
    ul.footer-main
      li.footer-item
        a(href='/contribute') Contribute
      li.footer-item
        a(href='/tos') Terms&nbsp;of&nbsp;Service
      li.footer-item
        a(href='/privacy') Privacy&nbsp;Policy
      li.footer-item
        a(href='/releases') Releases
      li.footer-item
        a(href='https://mesosphere.invisionapp.com/boards/U61L5GZM5CYG3/') Press&nbsp;Kit

    ul.footer-secondary
      li.footer-item
        a(href='http://www.twitter.com/dcos')
          img.footer-item__icon.twitter-icon(src='/assets/images/icons/twitter-dark.svg')
          span Twitter
      li.footer-item
        a(href='http://chat.mesosphere.com')
          img.footer-item__icon(src='/assets/images/icons/slack-dark.svg')
          span Slack
      li.footer-item
        a(href='https://github.com/dcos')
          img.footer-item__icon(src='/assets/images/icons/github-dark.svg')
          span GitHub

  +libraries
