mixin footer()
  .footer
    ul.footer-main
      li.footer-item 
        a © 2016 Mesosphere, Inc.
      li.footer-item 
        a Terms of Service
      li.footer-item 
        a Privacy Policy
      li.footer-item 
        a Press Kit
    
    ul.footer-secondary
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/twitter.svg')
        a Twitter
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/slack.svg')
        a Slack
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/github.svg')
        a(href='https://github.com/dcos') GitHub
