mixin libraries()
  // Google Tag Manager
  noscript
    iframe(src='//www.googletagmanager.com/ns.html?id=GTM-MT2WX7', height='0', width='0', style='display:none;visibility:hidden')
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MT2WX7');

  // Bugherd
  script.
    (function (d, t) {
    var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
    bh.type = 'text/javascript';
    bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=jurafhzvh7xfkx0z8ruyww';
    s.parentNode.insertBefore(bh, s);
    })(document, 'script');

  script(src='/assets/javascript/picturefill/dist/picturefill.min.js')
  script(src='/assets/javascript/jquery/dist/jquery.min.js')
  script(src='/assets/javascript/sticky-kit.min.js')
  script(src='/assets/javascript/lunr/lunr.min.js')
  script(src='/assets/javascript/jquery.scrollNav.min.js')
  script(src='/scripts/main.min.js')
  script#github-bjs(async, defer, src='https://buttons.github.io/buttons.js')
