mixin footer()
  .footer
    ul.footer-main
      li.footer-item 
        a ©2016&nbsp;Mesosphere,&nbsp;Inc.
      li.footer-item 
        a Terms&nbsp;of&nbsp;Service
      li.footer-item 
        a Privacy&nbsp;Policy
      li.footer-item 
        a Press&nbsp;Kit
    
    ul.footer-secondary
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/twitter.svg')
        a Twitter
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/slack.svg')
        a Slack
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/github.svg')
        a(href='https://github.com/dcos') GitHub

  script(type='text/javascript').
    (function (d, t) {
    var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
    bh.type = 'text/javascript';
    bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=jurafhzvh7xfkx0z8ruyww';
    s.parentNode.insertBefore(bh, s);
    })(document, 'script');