mixin footer()
  .footer
    ul.footer-main
      li.footer-item 
        a ©2016&nbsp;Mesosphere,&nbsp;Inc.
      li.footer-item 
        a Terms&nbsp;of&nbsp;Service
      li.footer-item 
        a Privacy&nbsp;Policy
      li.footer-item 
        a Press&nbsp;Kit
    
    ul.footer-secondary
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/twitter-dark.svg')
        a Twitter
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/slack-dark.svg')
        a Slack
      li.footer-item
        img.footer-item__icon(src='assets/images/icons/github-dark.svg')
        a(href='https://github.com/dcos') GitHub  
