mixin header(lightHeader)
  nav.navigation&attributes(attributes)

    .mobile-nav-container
      a#nav-icon(href="#" class=lightHeader ? 'dark' : '')
        span
        span
        span
        span

      .nav-logo-container
        a(href='/').nav-logo
          div.logo(class=lightHeader ? 'dark' : '')

    ul.menu-mobile
      li.menu-item
        if(locals.filename === 'why-dcos.html')
          a(href='/why-dcos/').active Why&nbsp;DC/OS
        else
          a(href='/why-dcos/') Why&nbsp;DC/OS

      li.menu-item
        if(locals.filename === 'install.html')
          a(href='/install/').active Install
        else
          a(href='/install/') Install

      li.menu-item
        a(href='/docs/latest/') Docs

      li.menu-item
        if(locals.filename === 'community.html')
          a(href='/community/').active Community
        else
          a(href='/community/') Community

      li.menu-item
        if(locals.filename === 'blog-index.html')
          a(href='/blog/').active Blog
        else
          a(href='/blog/') Blog

      li.menu-item
        a(href='https://github.com/dcos/dcos', target='_blank') GitHub

      li.menu-item
          a(href='/get-started/') Get Started

    ul.menu
      li.menu-item
        if(locals.filename === 'why-dcos.html')
          a(href='/why-dcos/').active Why&nbsp;DC/OS
        else
          a(href='/why-dcos/') Why&nbsp;DC/OS

      li.menu-item
        if(locals.filename === 'install.html')
          a(href='/install/').active Install
        else
          a(href='/install/') Install

      li.menu-item
        a(href='/docs/latest/') Docs

      li.menu-item
        if(locals.filename === 'community.html')
          a(href='/community/').active Community
        else
          a(href='/community/') Community

      li.menu-item
        if(locals.filename === 'article.html')
          a(href='/blog/').active Blog
        else
          a(href='/blog/') Blog

      li.menu-item
        .menu-item__github-button
          a.github-button(href='https://github.com/dcos/dcos', data-count-href='/dcos/dcos/stargazers', data-count-api='/repos/dcos/dcos#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star dcos/dcos on GitHub') Star

      li.menu-item
        if(locals.filename === 'get-started.html')
          a(href='/get-started/').cta.cta--button.button--secondary.active Get&nbsp;Started
        else
          a(href='/get-started/').cta.cta--button.button--secondary Get&nbsp;Started
