mixin header()

  nav.navigation
    .main-nav-container
      a(href='/')
        img.logo(src='/assets/images/logo.svg')
      
      ul.menu
        li.menu-item 
          a(href='/why-dcos') Why
        li.menu-item 
          a(href='/docs') Documentation
        li.menu-item 
          a(href='/community') Community
      
    .secondary-menu
      .menu-item 
        a(href='http://github.com') GitHub
      .menu-item
        a(href='/gettingstarted').cta.cta--button.button--header Get Started
