mixin header()

  nav.navigation

    a.nav-hamburger(href="#") toggle

    .nav-logo-container
      a(href='/').nav-logo
        img.logo(src='/assets/images/dcos-logo-white.svg')

    ul.menu
      li.menu-item
        a(href='/why-dcos/') Why&nbsp;DC/OS
      li.menu-item
        a(href='/install/') Install
      li.menu-item
        a(href='/docs/latest/usage/') Docs
      li.menu-item
        a(href='/community/') Community
      li.menu-item
        img.header-item__icon(src='/assets/images/icons/github.svg')
        a(href='https://github.com/dcos', target='_blank') GitHub
      li.menu-item
        a(href='/get-started/').cta.cta--button.button--secondary Get&nbsp;Started
