mixin header()

  nav.navigation
    .main-nav-container
      img.logo(src='/assets/images/logo.svg')
      
      ul.menu
        li.menu-item 
          a Why
        li.menu-item 
          a Documentation
        li.menu-item 
          a Community
      
    .secondary-menu
      .menu-item 
        a GitHub
      .menu-item
        a.cta.cta--button.button--header Get Started
