mixin header()

  nav.navigation
    .nav-logo-container
      a(href='/')
        img.logo(src='/assets/images/logo-dark.svg')
      
    ul.menu
      li.menu-item 
        a(href='/why-dcos') Why
      li.menu-item 
        a(href='/documentation') Documentation
      li.menu-item 
        a(href='/community') Community
      li.menu-item 
        img.header-item__icon(src='assets/images/icons/github-dark.svg')
        a(href='https://github.com/dcos') GitHub
      li.menu-item
        a(href='/get-started').cta.cta--button.button--secondary Get Started
