include ../mixins/header-docs.jade
include ../mixins/footer-docs.jade
include ../mixins/image.jade
include ../mixins/head.jade

<!doctype html>
html
  head
    +head

    block head
      title DC/OS

  body
    block content
