include ../mixins/header-docs.jade
include ../mixins/footer-docs.jade

<!doctype html>
html
  head
    link(rel='stylesheet', type='text/css', href='/styles/index.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    block head
      title!= title
      
  body
  
    block content
    
      article!= contents

  script(src='/scripts/main.js')
  block scripts
