.container.container--case-study
  .case-study-item.active
    .container__content.container__content--case-study-copy
      //- bullet list wrapper should only be included in the first slide
      ul.bullet-list
      .case-study-fade-wrapper
        .copy-wrapper
          h3.case-study-title Autodesk is Forging Ahead with Mesos, Containers and DC/OS
          p.case-study-description Having now run our event streaming and Big Data ingestion pipeline services in production on DC/OS, across 3 regions, over the last year, we've achieved the following results: a 66% reduction in AWS Instances, cost Improvements up to 57%, and an impressive 40 sec time to deploy a new build with zero downtime.
          a(href='http://cloudengineering.autodesk.com/blog/2016/04/autodesk-is-forging-ahead-with-dcos.html' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
    .container__content.container__content--case-study-image-wrapper
      .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-autodesk.png)')

  .case-study-item
    .container__content.container__content--case-study-copy
      .case-study-fade-wrapper
        .copy-wrapper
          h3.case-study-title Open Source DC/OS: The modern way to run a distributed database
          p.case-study-description Just a little while ago, setup, management and maintenance of a database cluster was just a world of pain. Now we have stepped across the edge to a new era in which open-source technology is all you need to run distributed applications at scale.
          a(href='https://www.arangodb.com/2016/04/dcos-the-modern-way-to-run-a-distributed-database/' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
    .container__content.container__content--case-study-image-wrapper
      .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-arangodb.png)')

  .case-study-item
    .container__content.container__content--case-study-copy
      .case-study-fade-wrapper
        .copy-wrapper
          h3.case-study-title linkerd + DC/OS: microservices in production made easy
          p.case-study-description linkerd is Buoyant’s open source traffic layer manager for microservices. If you’re running microservices on DC/OS, you can install the linkerd DC/OS package today to get programmable control over the flow of all RPC traffic throughout your application.
          a(href='https://blog.buoyant.io/2016/04/19/linkerd-dcos-microservices-in-production-made-easy/' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
    .container__content.container__content--case-study-image-wrapper
      .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-linkerd.png)')

  .case-study-item
    .container__content.container__content--case-study-copy
      .case-study-fade-wrapper
        .copy-wrapper
          h3.case-study-title SMACK stack on DC/OS -- how it’s all woven together
          p.case-study-description In this blog, we explore how easy it is to run an application on DC/OS using the SMACK stack (Spark, Mesos, Akka, Cassandra, and Kafka). We focus on how the different components of the stack are woven together to support the application.
          a(href='http://www.cakesolutions.net/teamblogs/smack-stack-on-dcos' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
    .container__content.container__content--case-study-image-wrapper
      .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-smack.png)')

  .case-study-item
    .container__content.container__content--case-study-copy
      .case-study-fade-wrapper
        .copy-wrapper
          h3.case-study-title On-demand Interactive Data Science with DC/OS
          p.case-study-description In this post, we analyze a set of road safety data from Great Britain, 1979-2004. This analysis requires distributed processing and we create an environment that allows our processing jobs to scale horizontally. We’re running a DC/OS cluster with an interactive research notebook (container of Jupyter Python Notebook with Apache Spark) and a distributed file system (HDFS).
          a(href='http://blog.dataart.com/on-demand-interactive-data-science-with-dcos/' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
    .container__content.container__content--case-study-image-wrapper
      .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-data-art.png)')
