extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content.community-hero
      h1 Join the DC/OS Community
      p.hero-subtitle Connect with our community of users and browse the latest DC/OS news.

      hr.hero-divider

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/github.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title GitHub
            p.hero-list__item__copy__paragraph Are you interested in helping us make DC/OS even better? Let’s work together! Read up on our GitHub repository to help you on your way.
            a(href='https://github.com/dcos').cta.cta--text Visit repository &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Slack
            p.hero-list__item__copy__paragraph Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            a(href='http://chat.mesosphere.com').cta.cta--text Join chat &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/twitter.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Twitter
            p.hero-list__item__copy__paragraph Want to stay in the loop? Get the latest news and updates surrounding DC/OS and join in the discussion by following our official Twitter account.
            a(href='http://www.twitter.com/dcos_io').cta.cta--text Follow us &rarr;

  .container.container--grey-background.community-container
    .container__content
      h2 Upcoming Events

      // Example of static container
      //.events-static-container
      //  .card-container
      //    .card
      //      .card-header
      //        .card-content
      //          .card-header__date
      //            p 12
      //            p Nov
      //      .card-content
      //        h3.card-title DC/OS Conference 2016 1
      //        p.card-copy Derrick Harris speaking at Strata + Hadoop World in San Jose, CA
      //        a.cta.cta--text More info &rarr;
      //
      //    .card
      //      .card-header
      //        .card-content
      //          .card-header__date
      //            p 12
      //            p Nov
      //      .card-content
      //        h3.card-title DC/OS Conference 2016 2
      //        p.card-copy Derrick Harris speaking at Strata + Hadoop World in San Jose, CA
      //        a.cta.cta--text More info &rarr;
      //
      //    .card
      //      .card-header
      //        .card-content
      //          .card-header__date
      //            p 12
      //            p Nov
      //      .card-content
      //        h3.card-title DC/OS Conference 2016 3
      //        p.card-copy Derrick Harris speaking at Strata + Hadoop World in San Jose, CA
      //        a.cta.cta--text More info &rarr;

  .container.events-container
    .container__content
      .events-carousel
        .events-carousel-btn.events-carousel-btn--next
          img(src='assets/images/icons/chevron-dark-right.svg')

        .events-carousel-btn.events-carousel-btn--prev
          img(src='assets/images/icons/chevron-dark-left.svg')

        .card-container
          .card
            .card-header
              img(src='https://mesosphere.com/wp-content/uploads/2016/04/Screen-Shot-2016-04-13-at-1.34.14-PM.png')
              .card-content
                .card-header__date
                  p 19
                  p APR
            .card-content
              h3.card-title Future of enterprise computing with a16z & Microsoft
              p.card-copy Join Microsoft Azure CTO, Mark Russinovich and Andreessen Horowitz General Partner, Peter Levine at the Mesosphere headquarters
              a(href='https://www.eventbrite.com/e/future-of-enterprise-computing-with-a16z-microsoft-registration-24245414688').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/1F3Z0k2R2x0g2Y1V0J0A/london.png?v=7b98178a')
              .card-content
                .card-header__date
                  p 22
                  p APR
            .card-content
              h3.card-title ProgScon, London, UK
              p.card-copy Michael Hausenblas will be giving at talk - Containers, FTW!
              a(href='http://progscon.co.uk/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/1y0q340E0k0z3G3O472e/kafka.png?v=eacb087c')
              .card-content
                .card-header__date
                  p 26
                  p APR
            .card-content
              h3.card-title Kafka Summit, San Francisco, CA
              p.card-copy Come talk to DC/OS Mesosphere and Elodina, community members and Kafka Summit sponsors, in the expo
              a(href='http://kafka-summit.org/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/0F1S3X0f3z2T1h2U2g20/austin.png?v=672b081e')
              .card-content
                .card-header__date
                  p 27
                  p APR
            .card-content
              h3.card-title Autin Linux Meetup, Austin, TX
              p.card-copy Come learn about DC/OS and see a demo with Mesosphere CTO Tobi Knaup
              a(href='http://www.meetup.com/Austin-Mesos-Users-Group/events/230056246/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/1K0g1s2M3j2z1b0g450a/Atlassian.png?v=c2f94065')
              .card-content
                .card-header__date
                  p 28
                  p APR
            .card-content
              h3.card-title Austin Mesos User Group, Austin, TX
              p.card-copy Come learn about DC/OS and see a demo with Mesosphere CTO Tobi Knaup
              a(href='http://www.meetup.com/linux-85/events/230147694/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/3u1a0A3r0u2G3u24473i/emc.png?v=98547b11')
              .card-content
                .card-header__date
                  p 2
                  p MAY
            .card-content
              h3.card-title EMC World, Las Vegas, NV
              p.card-copy Keynote by Mesosphere CTO Tobi Knaup, breakouts by Somik Behera, Greg Mann and Keith Chambers. If you want to learn more, visit the Mesosphere booth in the expo hall.
              a(href='http://www.emcworld.com/index.htm').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/1e0D0d2C390C261W3V2b/stockholm.png?v=ac130048')
              .card-content
                .card-header__date
                  p 10
                  p MAY
            .card-content
              h3.card-title Goto Conf, Stockholm, Sweeden
              p.card-copy Breakout Talk with Ken Sipe from Meosphere
              a(href='https://gotosthlm.com/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/031r1T462X2S0H2T3N38/vancouver.png?v=9376600f')
              .card-content
                .card-header__date
                  p 11
                  p MAY
            .card-content
              h3.card-title ApacheCon, Vancouver, BC
              p.card-copy Make sure to come to the talks by Mesosphere Engineers Adam Bordelon, Mohit Soni, Greg Mann and Sunil Shah
              a(href='http://events.linuxfoundation.org/events/apachecon-north-america').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='http://media.boingboing.net/wp-content/uploads/2016/03/19944899926_faf272376c_b.jpg')
              .card-content
                .card-header__date
                  p 16
                  p MAY
            .card-content
              h3.card-title Conference: OSCON Breakout, Austin, Isabel
              p.card-copy Make sure to attend the panel with Mesosphere co-founder and Mesos creator Ben Hindman and the breakout talk from Isabel Jimeniz
              a(href='http://conferences.oreilly.com/oscon/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/16382t2C0X200Q1V2B0f/mesosphere.png?v=98c5077b')
              .card-content
                .card-header__date
                  p 23
                  p MAY
            .card-content
              h3.card-title Bay Area Mesos User Group
              p.card-copy Sign up for another great Mesos Meetup at the Mesosphere HQ. More details to be announced soon!
              a(href='http://www.meetup.com/Bay-Area-Mesos-User-Group/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/2o1c1N3r0V0D0s2H3x1K/microsoft-tokyo.png?v=d170204a')
              .card-content
                .card-header__date
                  p 23
                  p MAY
            .card-content
              h3.card-title Conference: MS de:Code, Tokyo, Japan
              p.card-copy Be sure not to miss the Keynote and breakout session by Aaron Williams, Head of Developer Advocacy at Mesosphere
              a(href='https://www.microsoft.com/ja-jp/events/decode/2016/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/070B3R0f1j3b3c1v2k1J/ibm.png?v=1ae02ac4')
              .card-content
                .card-header__date
                  p 24
                  p MAY
            .card-content
              h3.card-title IBM Watson Summit, Tokyo, Japan
              p.card-copy Join Aaron Williams, Head of Developer Advocacy at Mesosphere to hear more about DC/OS and the future of the datacenter.
              a(href='http://ibmevent.jp/watsonsummit2016/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='http://media.boingboing.net/wp-content/uploads/2016/03/19944899926_faf272376c_b.jpg')
              .card-content
                .card-header__date
                  p 1
                  p JUN
            .card-content
              h3.card-title MesosCon, Denver, CO
              p.card-copy Sign up now to attend 2 full days of expert talks from the Apache Mesos Community
              a(href='http://conferences.oreilly.com/oscon/').cta.cta--text More info &rarr;

          .card
            .card-header
              img(src='https://s3.amazonaws.com/f.cl.ly/items/30012j1E3E3E1Q23171u/mesoscon.png?v=55102802')
              .card-content
                .card-header__date
                  p 16
                  p MAY
            .card-content
              h3.card-title Conference: OSCON Breakout, Austin, Isabel
              p.card-copy Make sure to attend the panel with Mesosphere co-founder and Mesos creator Ben Hindman and the breakout talk from Isabel Jimeniz
              a(href='http://events.linuxfoundation.org/events/mesoscon-north-america').cta.cta--text More info &rarr;

  .container.community-logo-container.container--gray-background
    .container__content
      h2 Launch Partners
      p This community was launched on April 19 by a dedicated and diverse group of innovators.

      .partner-grid
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')
        img.partner-grid__logo(src='assets/images/logos/aws.svg')
        img.partner-grid__logo(src='assets/images/logos/coreos.svg')
        img.partner-grid__logo(src='assets/images/logos/microsoft.svg')
        img.partner-grid__logo(src='assets/images/logos/redhat.svg')
        img.partner-grid__logo(src='assets/images/logos/vmware.svg')

  .container
    .container__content
      +footer

  script(src='/scripts/main.js')
  script(src='/scripts/events-carousel.js')
