extends ../layouts/base-whitefooter.jade

block head
  title Community | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Community | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Join the DC/OS community and connect with users, contributors, partners, and supporters on GitHub, Twitter, #slack or our mailing list.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Community | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Join the DC/OS community and connect with users, contributors, partners, and supporters on GitHub, Twitter, #slack or our mailing list.')

block content

  .container.container--dark-background
    +header

    .container__content.community-hero
      h1 Join the DC/OS Community
      p.hero-subtitle Connect with our community of users and browse the latest DC/OS news.

      hr.hero-divider

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/community/github.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title GitHub
            p.hero-list__item__copy__paragraph Are you interested in helping us make DC/OS even better? Let’s work together! Check out our source code on GitHub.
            a(href='https://github.com/dcos').cta.cta--text View repositories &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/community/slack.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Slack
            p.hero-list__item__copy__paragraph Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            a(href='http://chat.dcos.io').cta.cta--text Join chat &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/community/envelope.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Mailing List
            p.hero-list__item__copy__paragraph Want to stay in the loop and connect with other community members? Our public mailing list has all the latest updates. Join the discussion.
            a(href='https://groups.google.com/a/dcos.io/d/forum/users').cta.cta--text Join users@dcos.io &rarr;

  .container.container--grey-background.community-container
    .container__content
      if locals.events.length === 0
        h2 No Upcoming Events
      else
        h2 Upcoming Events

  .container.events-container
    .container__content
      .events-carousel
        if (locals.events.length)
          .events-carousel-btn.events-carousel-btn--next
            img(src='/assets/images/icons/chevron-dark-right.svg')

          .events-carousel-btn.events-carousel-btn--prev
            img(src='/assets/images/icons/chevron-dark-left.svg')

        .card-container
          each event in locals.events
            a(href!=event.url target='_blank').card
              .card-header(style='background-image: url(#{event.image})')
                .card-content
                  .card-header__date
                    p #{event.day}
                    p #{event.month.toUpperCase()}
              .card-content.card-copy
                h3.card-title  #{event.title}
                .cta.cta--text More info &rarr;

    .container__content.event-cta
      a(href="mailto:events@dcos.io").cta.cta--text Want to host your own DC/OS event? &rarr;

  .container.community-logo-container.container--gray-background
    .container__content
      h2 Launch Partners
      p This community was launched on April 19 by a dedicated and diverse group of innovators.
      a.cta.cta--button.button--secondary(href='#', data-overlay-toggle='video-overlay') Watch Partner Video

      .partner-grid
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          +image('/assets/images/logos/partners/10th-magnitude.png')
        a.partner-grid__logo(href='https://www.accenture.com/us-en/accenture-technology-labs-index' target='_blank')
          +image('/assets/images/logos/partners/accenture.png')
        a.partner-grid__logo(href='http://www.alluxio.com' target='_blank')
          +image('/assets/images/logos/partners/alluxio.png')
        a.partner-grid__logo(href='http://www.arangodb.com/' target='_blank')
          +image('/assets/images/logos/partners/arangodb.png')
        a.partner-grid__logo(href='http://www.autodesk.com/' target='_blank')
          +image('/assets/images/logos/partners/autodesk.png')
        a.partner-grid__logo(href='https://www.avinetworks.com/solutions/container-services-fabric-for-microservices-apps/' target='_blank')
          +image('/assets/images/logos/partners/avi-networks.png')
        a.partner-grid__logo(href='http://www.bigindustries.be/' target='_blank')
          +image('/assets/images/logos/partners/big-industries.png')
        a.partner-grid__logo(href='http://www.bigswitch.com' target='_blank')
          +image('/assets/images/logos/partners/big-switch.png')
        a.partner-grid__logo(href='https://buoyant.io' target='_blank')
          +image('/assets/images/logos/partners/buoyant.png')
        a.partner-grid__logo(href='http://www.cakesolutions.net' target='_blank')
          +image('/assets/images/logos/partners/cake-solutions.png')
        a.partner-grid__logo(href='http://www.projectcalico.org/' target='_blank')
          +image('/assets/images/logos/partners/calico.png')
        a.partner-grid__logo(href='http://www.canonical.com' target='_blank')
          +image('/assets/images/logos/partners/canonical.png')
        a.partner-grid__logo(href='https://www.capgemini.com/' target='_blank')
          +image('/assets/images/logos/partners/capgemini.png')
        a.partner-grid__logo(href='http://www.cervoo.com' target='_blank')
          +image('/assets/images/logos/partners/cervoo.png')
        a.partner-grid__logo(href='http://www.chef.io/' target='_blank')
          +image('/assets/images/logos/partners/chef.png')
        a.partner-grid__logo(href='http://www.cisco.com' target='_blank')
          +image('/assets/images/logos/partners/cisco.png')
        a.partner-grid__logo(href='https://www.citrix.com/products/netscaler-application-delivery-controller/overview.html' target='_blank')
          +image('/assets/images/logos/partners/citrix.png')
        a.partner-grid__logo(href='https://cockroachlabs.com' target='_blank')
          +image('/assets/images/logos/partners/cockroach-labs.png')
        a.partner-grid__logo(href='http://www.confluent.io/' target='_blank')
          +image('/assets/images/logos/partners/confluent.png')
        a.partner-grid__logo(href='http://container-solutions.com/' target='_blank')
          +image('/assets/images/logos/partners/container-solutions.png')
        a.partner-grid__logo(href='http://www.dataart.com/' target='_blank')
          +image('/assets/images/logos/partners/data-art.png')
        a.partner-grid__logo(href='http://www.datadog.com/' target='_blank')
          +image('/assets/images/logos/partners/data-dog.png')
        a.partner-grid__logo(href='http://www.data-fellas.guru/' target='_blank')
          +image('/assets/images/logos/partners/data-fellas.png')
        a.partner-grid__logo(href='http://www.datera.io' target='_blank')
          +image('/assets/images/logos/partners/datera.png')
        a.partner-grid__logo(href='https://diamanti.com/' target='_blank')
          +image('/assets/images/logos/partners/diamanti.png')
        a.partner-grid__logo(href='http://www.dynatrace.com/en/ruxit/' target='_blank')
          +image('/assets/images/logos/partners/dynatrace.png')
        a.partner-grid__logo(href='http://www.elementanalytics.com/' target='_blank')
          +image('/assets/images/logos/partners/element-analytics.png')
        a.partner-grid__logo(href='http://www.elodina.net/' target='_blank')
          +image('/assets/images/logos/partners/elodina.png')
        a.partner-grid__logo(href='http://www.emc.com' target='_blank')
          +image('/assets/images/logos/partners/emc.png')
        a.partner-grid__logo(href='http://www.equinix.com/' target='_blank')
          +image('/assets/images/logos/partners/equinix.png')
        a.partner-grid__logo(href='https://www.hpe.com/us/en/home.html' target='_blank')
          +image('/assets/images/logos/partners/hpe.png')
        a.partner-grid__logo(href='http://www.iguaz.io/' target='_blank')
          +image('/assets/images/logos/partners/iguazio.png')
        a.partner-grid__logo(href='http://www.infosiftr.com/' target='_blank')
          +image('/assets/images/logos/partners/infosiftr.png')
        a.partner-grid__logo(href='http://www.ishisystems.com/' target='_blank')
          +image('/assets/images/logos/partners/ishi-systems.png')
        a.partner-grid__logo(href='http://www.joyent.com' target='_blank')
          +image('/assets/images/logos/partners/joyent.png')
        a.partner-grid__logo(href='http://www.kovarus.com' target='_blank')
          +image('/assets/images/logos/partners/kovarus.png')
        a.partner-grid__logo(href='http://www.lightbend.com' target='_blank')
          +image('/assets/images/logos/partners/lightbend.png')
        a.partner-grid__logo(href='http://www.linkernetworks.com/' target='_blank')
          +image('/assets/images/logos/partners/linker-networks.png')
        a.partner-grid__logo(href='https://www.mapr.com/' target='_blank')
          +image('/assets/images/logos/partners/mapr.png')
        a.partner-grid__logo(href='http://www.memsql.com/' target='_blank')
          +image('/assets/images/logos/partners/memsql.png')
        a.partner-grid__logo(href='https://mesosphere.com/' target='_blank')
          +image('/assets/images/logos/partners/mesosphere.png')
        a.partner-grid__logo(href='https://www.microsoft.com/en-us/' target='_blank')
          +image('/assets/images/logos/partners/microsoft.png')
        a.partner-grid__logo(href='https://www.miracl.com/' target='_blank')
          +image('/assets/images/logos/partners/miracl.png')
        a.partner-grid__logo(href='http://www.netapp.com/' target='_blank')
          +image('/assets/images/logos/partners/netapp.png')
        a.partner-grid__logo(href='http://www.nginx.com/' target='_blank')
          +image('/assets/images/logos/partners/nginx.png')
        a.partner-grid__logo(href='http://www.offscale.io/' target='_blank')
          +image('/assets/images/logos/partners/offscale.png')
        a.partner-grid__logo(href='https://opencredo.com/' target='_blank')
          +image('/assets/images/logos/partners/opencredo.png')
        a.partner-grid__logo(href='https://www.packet.net/' target='_blank')
          +image('/assets/images/logos/partners/packet.png')
        a.partner-grid__logo(href='https://puppet.com/' target='_blank')
          +image('/assets/images/logos/partners/puppet.png')
        a.partner-grid__logo(href='http://www.qct.io/' target='_blank')
          +image('/assets/images/logos/partners/qct.png')
        a.partner-grid__logo(href='http://www.quobyte.com/' target='_blank')
          +image('/assets/images/logos/partners/quobyte.png')
        a.partner-grid__logo(href='http://www.redapt.com/' target='_blank')
          +image('/assets/images/logos/partners/redapt.png')
        a.partner-grid__logo(href='https://artik.cloud/' target='_blank')
          +image('/assets/images/logos/partners/samsung.png')
        a.partner-grid__logo(href='http://www.solidfire.com/' target='_blank')
          +image('/assets/images/logos/partners/solidfire.png')
        a.partner-grid__logo(href='http://www.sumologic.com/' target='_blank')
          +image('/assets/images/logos/partners/sumologic.png')
        a.partner-grid__logo(href='http://www.sysdig.com/' target='_blank')
          +image('/assets/images/logos/partners/sysdig.png')
        a.partner-grid__logo(href='http://www.vamp.io/' target='_blank')
          +image('/assets/images/logos/partners/vamp.png')
        a.partner-grid__logo(href='http://www.vapor.io/' target='_blank')
          +image('/assets/images/logos/partners/vapor.png')
        a.partner-grid__logo(href='http://www.verizon.com/' target='_blank')
          +image('/assets/images/logos/partners/verizon.png')
        a.partner-grid__logo(href='http://weave.works/' target='_blank')
          +image('/assets/images/logos/partners/weave-works.png')
        a.partner-grid__logo(href='http://www.xentaurs.com/' target='_blank')
          +image('/assets/images/logos/partners/xentaurs.png')
        a.partner-grid__logo(href='http://www.yelp.com/' target='_blank')
          +image('/assets/images/logos/partners/yelp.png')

  .overlay(data-overlay='video-overlay')
    .overlay__close-cta
      a(href='#', data-overlay-toggle='video-overlay')
        img(src='/assets/images/icons/cancel.svg')
    .overlay__video
      iframe(src="https://www.youtube-nocookie.com/embed/PzM1dJceJh4?rel=0&enablejsapi=1&amp;showinfo=0;" frameborder="0" allowfullscreen)

  .container
      +footer
