extends ../layouts/base-whitefooter.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content.community-hero
      h1 Join the DC/OS Community
      p.hero-subtitle Connect with our community of users and browse the latest DC/OS news.

      hr.hero-divider

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/community/github.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title GitHub
            p.hero-list__item__copy__paragraph Are you interested in helping us make DC/OS even better? Let’s work together! Read up on our GitHub repository to help you on your way.
            a(href='https://github.com/dcos').cta.cta--text Visit repository &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/community/slack.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Slack
            p.hero-list__item__copy__paragraph Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            a(href='http://chat.dcos.io').cta.cta--text Join chat &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/community/twitter.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Twitter
            p.hero-list__item__copy__paragraph Want to stay in the loop? Get the latest news and updates surrounding DC/OS and join in the discussion by following our official Twitter account.
            a(href='http://www.twitter.com/dcos_io').cta.cta--text Follow us &rarr;

  .container.container--grey-background.community-container
    .container__content
      h2 Upcoming Events


  .container.events-container
    .container__content
      .events-carousel
        .events-carousel-btn.events-carousel-btn--next
          img(src='/assets/images/icons/chevron-dark-right.svg')

        .events-carousel-btn.events-carousel-btn--prev
          img(src='/assets/images/icons/chevron-dark-left.svg')

        .card-container
          a(href='https://www.eventbrite.com/e/future-of-enterprise-computing-with-a16z-microsoft-registration-24245414688').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg')')
              .card-content
                .card-header__date
                  p 19
                  p APR
            .card-content.card-copy
              h3.card-title Future of enterprise computing with a16z & Microsoft
              .cta.cta--text More info &rarr;

          a(href='http://progscon.co.uk/').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg)')
              .card-content
                .card-header__date
                  p 22
                  p APR
            .card-content.card-copy
              h3.card-title ProgScon, London, UK
              .cta.cta--text More info &rarr;

          a(href='http://kafka-summit.org/').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg)')
              .card-content
                .card-header__date
                  p 26
                  p APR
            .card-content.card-copy
              h3.card-title Kafka Summit, San Francisco, CA
              .cta.cta--text More info &rarr;

          a(href='http://www.meetup.com/Austin-Mesos-Users-Group/events/230056246/').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg)')
              .card-content
                .card-header__date
                  p 27
                  p APR
            .card-content.card-copy
              h3.card-title Autin Linux Meetup, Austin, TX
              .cta.cta--text More info &rarr;

          a(href='http://www.meetup.com/linux-85/events/230147694/').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg)')
              .card-content
                .card-header__date
                  p 28
                  p APR
            .card-content.card-copy
              h3.card-title Austin Mesos User Group, Austin, TX
              .cta.cta--text More info &rarr;

          a(href='http://www.emcworld.com/index.htm').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg)')
              .card-content
                .card-header__date
                  p 2
                  p MAY
            .card-content.card-copy
              h3.card-title EMC World, Las Vegas, NV
              .cta.cta--text More info &rarr;

          a(href='https://gotosthlm.com/').card
            .card-header(style='background-image: url(http://www.weather-climate.org.uk/images/mesosphere.jpg)')
              .card-content
                .card-header__date
                  p 10
                  p MAY
            .card-content.card-copy
              h3.card-title Goto Conf, Stockholm, Sweeden
              .cta.cta--text More info &rarr;

    .container__content.event-cta
      a.cta.cta--text Want to host your own DC/OS event? &rarr;

  .container.community-logo-container.container--gray-background
    .container__content
      h2 Launch Partners
      p This community was launched on April 19 by a dedicated and diverse group of innovators.

      .partner-grid
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        a.partner-grid__logo(href='http://www.10thmagnitude.com/' target='_blank')
          img(src='/assets/images/logos/partners/10th magnitude@2x.png')
        
  .container
    .container__content
      +footer

  script(src='/scripts/main.js')
  script(src='/scripts/events-carousel.js')
