extends ../layouts/base-whitefooter.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Contribute to DC/OS

  .container
    .container__content
      .text-align-left

        h2 Contributing content
        p If you plan to create content around DC/OS, for example a demo, a tutorial, a video, an article or anything that is not directly a code contribution to DC/OS, have a look at #[a(href='https://github.com/dcos/dcos-docs/#contributing') how to contribute to the docs], let us know via #[a(href='http://chat.mesosphere.com/?_ga=1.264992783.1471453052.1460758981') Slack] or ping us via  #[a(href='mailto:help@dcos.io') help@dcos.io].

        h2 Publishing services
        p In addition to the services currently #[a(href='https://dcos.io/docs/latest/development/') published] you're welcome to publish your own service. If you're unsure how to proceed, send us an email via #[a(href='mailto:universe@dcos.io') universe@dcos.io] and we will take it from there.

        include:markdown code-contrib.md

        h2 Report or track a bug
        p Bugs can be reported and tracked in #[a(href='https://jira.dcos.io') JIRA]. In order to create a new issue, you'll need to #[a(href='https://jira.dcos.io/admin/users/sign-up') sign up for an account] first. Please specify what type the issue is: for software bugs specify 'Bug' and if you want to suggest how we can make DC/OS even more awesome, select 'Improvement'. The more detailed your description is, the easier it is for us to react to it.

        h2 Participate in UX research
        p We continuously improve DC/OS by showing early work in progress to our community. If you are interested in participating in our future research and usability tests, #[a(href='http://uxresearch.mesosphere.com') add yourself to this list]. We compensate participants with swag and gift cards.

  .container
      +footer
