extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      .getstarted-heading
        span.getstarted-heading__copy Run:
        .getstarted-heading__service
          img(src='assets/images/icons/spark.png')
          span Spark
        span.getstarted-heading__copy on
        .getstarted-heading__service
          img(src='assets/images/icons/spark.png')
          span.getstarted-heading__service Spark
      p Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.
      
    .container__content.getstarted-tabs
        .getstarted-tabs__step.step1
          p Step 1
          h3 Select a service
          
        .getstarted-tabs__step.step2.step-inactive
          p Step 2
          h3 Select a platform
          
        .getstarted-tabs__step.step3.step-inactive
          p Step 3
          h3 Install
          
    .arrow-up
      
  .container
    .container__content.service-select
      h2 Select a service
      
      .card-container
        a.card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            
    .container__content.platform-select
      h2 Select a platform

      .card-container
        a.card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
          
    .container__content.install
      h2 Install
    
  
  .container
    .container__content
      +footer
block scripts
  script(src='/scripts/fetch.js')
  script(src='/scripts/docs.js')
