extends ../layouts/base-whitefooter.jade

block head
  title Fast Data | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Fast Data | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Fast Data on DC/OS')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Fast Data | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Fast Data on DC/OS')

block content

  .container.container--dark-background.pb5.px2.sm-pb0(style='display: block;')
    .mx-auto.max-width-4
      +header(style='padding: 0;')

    .mx-auto.max-width-4
      .container__content.community-hero
        h1 Get Started




  //- DC/OS enables fast data
  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap.items-center
          .lg-col-8.col-12.xs-col-12.px2.mx-auto.pb2
            h2 DC/OS 101 tutorial
            p
              | If you already have DC/OS
              a(href='/install')  installed
              |  on your cluster, which is designed to give you hands-on experience with the essential pieces of DC/OS right away. Follow the simple recipes, or read and try the optional "deep dives" to learn how DC/OS works behind the scenes.

        .flex.flex-auto.flex-wrap.lg-col-8.col-12.xs-col-12.mx-auto.pb2
          h4(style='max-width: inherit;') The DC/OS 101 tutorial covers the following topics
          .lg-col-6.col-6.xs-col-12.xs-center.px2.pb3
            ul.inherit-ul.left-align
              li Installing services
              li Deploying apps (containerized and non-containerized)
              li Connecting multiple applications
              li Service discovery

          .lg-col-6.col-6.xs-col-12.xs-center.px2.pb3
            ul.inherit-ul.left-align
              li Load-balancing (within the cluster and externally)
              li Make applications accessible from outside the cluster
              li Investigating/debug common problems

          .col-12.px2
            a(href='#', style='width: 100%;').btn.btn-primary.center Start the 101 Tutorial




  //- Challenges / Solutions
  .outer-container.bg-gray.clearfix.py5.px2
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap.items-center
          .lg-col-8.col-12.xs-col-12.px2.mx-auto
            h2.pb2.sm-center.mx-auto Choose a provider and install DC/OS
            p.sm-center.mx-auto.pb4
              | If you don't have a DC/OS cluster you will need to choose your infrastructure and install DC/OS.
              a(href='https://dcos.io/docs/latest/administration/installing/')  Installation&nbsp;
              | involves configuring the infrastructure and installing DC/OS bits on top, so the infrastructure provider you choose determines your installation method.

        .mxn2.flex.flex-auto.flex-wrap.flex-start
          a.lg-col-4.col-6.xs-col-12.xs-center.px3.py3.center.card.bg-white.relative(href="https://dcos.io/docs/1.8/administration/installing/cloud/" style="justify-content: inherit; padding-bottom: 2.45rem;")
            img.hero-list__item__image(src="/assets/images/icons/cloud.svg")
            h4 Cloud
            p.hero-list__item__copy__paragraph.small.pb3 The easiest option. Automatically configure your infrastructure and install DC/OS with a few clicks or commands.
            .flex.flex-end.mt-auto(style='width: 100%')
              span(href='/get-started', style='width: 100%;').btn.btn-primary.center Install in the cloud

          a.lg-col-4.col-6.xs-col-12.xs-center.px3.py3.center.card.bg-white.relative(href="https://dcos.io/docs/1.8/administration/installing/local/" style="justify-content: inherit; padding-bottom: 2.45rem;")
            img.hero-list__item__image(src="/assets/images/icons/local.svg")
            h4 Local
            p.hero-list__item__copy__paragraph.small.pb3 The cheapest option, with limited functionality. Run DC/OS on a Vagrant cluster on your machine.
            .flex.flex-end.mt-auto(style='width: 100%')
              span(href='/get-started', style='width: 100%;').btn.btn-primary.center Install locally

          a.lg-col-4.col-6.xs-col-12.xs-center.px3.py3.center.card.bg-white.relative(href="https://dcos.io/docs/1.8/administration/installing/custom/system-requirements/" style="justify-content: inherit; padding-bottom: 2.45rem;")
            img.hero-list__item__image(src="/assets/images/icons/on-premesis.svg")
            h4 On-premises
            p.hero-list__item__copy__paragraph.small.pb3 The most nuanced option. Control everything about your installation. The other install methods are automated versions of this process.
            .flex.flex-end.mt-auto(style='width: 100%')
              span(href='/get-started', style='width: 100%;').btn.btn-primary.center Install on premises






  //- Section 2
  .outer-container.bg-white.clearfix.py5.px2
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap
          h2.pb4.center.mx-auto Additional resources for beginners

      .max-width-4.mx-auto.pb4
        .mxn2.flex.flex-auto.flex-wrap
          a.card.col-4.left-align.px3.py3(style='display: block' href='https://dcos.io/docs/1.8/overview/')
            p.mb2.mt0 Read the documentation's overview of DC/OS for a conceptual description of DC/OS's inner workings.
            span(style='color: #9351E5') Read documentation

          a.card.col-4.left-align.px3.py3(style='display: block' href='https://dcos.io/community')
            p.mb2.mt0 Get help by joining the DC/OS community mailing list or Slack channel.
            span(style='color: #9351E5') Checkout the community

          a.card.col-4.left-align.px3.py3(style='display: block' href='https://dcos.io/releases/')
            p.mb2.mt0 Visit DC/OS releases for access to the most recent stable, early access, and untested versions of DC/OS, as well as previous versions and release notes.

            span(style='color: #9351E5') View releases


  //- Footer
  .container
    +footer
