extends ../layouts/base-whitefooter.jade

block head
  title Get Started | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Get Started | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Launch DC/OS and run Marathon, Kafka, Spark, Cassandra, Jenkins, ArangoDB, Chronos in minutes in the cloud, on-prem, hybrid or just on your laptop.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Get Started | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Launch DC/OS and run Marathon, Kafka, Spark, Cassandra, Jenkins, ArangoDB, Chronos in minutes in the cloud, on-prem, hybrid or just on your laptop.')

block content

  .container.container--dark-background
    +header

    .container__content.get-started-heading-container
      .getstarted-heading
        .getstarted-heading__service
          span.getstarted-heading__copy Run
          .services-list

        .getstarted-heading__platform
          span.getstarted-heading__copy on
          .platform-list

    .container__content.getstarted-tabs
        a.getstarted-tabs__step.step1(href='#')
          p Step 1
          h3 Select a service

        a.getstarted-tabs__step.step2.step-inactive(href='#')
          p Step 2
          h3 Select a platform

        a.getstarted-tabs__step.step3.step-inactive
          p Step 3
          h3 Run DC/OS

    .container__content.arrow-container.step1
      .arrow
        .arrow-up

  .container.get-started-content
    .container__content.service-select

      h2.heading-margin-bottom Select a service

      .card-container
        a.card(href="#", data-name="Marathon", data-doc="service/marathon")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/marathon.png')
            h3.card-title Marathon
            p.card-copy Use to launch long-running apps, for example a webserver.
        a.card(href="#", data-name="Spark", data-doc="service/spark")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/spark.png')
            h3.card-title Spark
            p.card-copy Use for elastic data processing, batch or streaming.
        a.card(href="#", data-name="ArangoDB", data-doc="service/arangodb")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/arangodb.png')
            h3.card-title ArangoDB
            p.card-copy Use to store and query tree-like data as well as graphs.
        a.card(href="#", data-name="Cassandra", data-doc="service/cassandra")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/cassandra.png')
            h3.card-title Cassandra
            p.card-copy Use to store and query semi-structured data in wide tables.
        a.card(href="#", data-name="Chronos", data-doc="service/chronos")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/chronos.png')
            h3.card-title Chronos
            p.card-copy Use to launch scheduled batch jobs in a distributed way.
        a.card(href="#", data-name="Jenkins", data-doc="service/jenkins")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/jenkins.png')
            h3.card-title Jenkins
            p.card-copy Use to build your scalable and fault-tolerant CI/CD pipeline.
        a.card(href="#", data-name="Kafka", data-doc="service/kafka")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/kafka.png')
            h3.card-title Kafka
            p.card-copy Use to queue messages and distributed to others.

    .container__content.platform-select
      h2.heading-margin-bottom Choose a platform

      .card-container
        a.card(href="#", data-name="AWS", data-doc="platform/aws")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/aws.png')
            h3.card-title AWS
            p.card-copy Deploy on AWS using templates or custom install.
        a.card(href="#", data-name="CentOS", data-doc="platform/centos")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/centos.png')
            h3.card-title CentOS
            p.card-copy Deploy on CentOS using custom install.
        a.card(href="#", data-name="Azure", data-doc="platform/azure")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/azure.png')
            h3.card-title Microsoft Azure
            p.card-copy Deploy on Azure using templates or custom install.
        a.card(href="#", data-name="CoreOS", data-doc="platform/coreos")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/coreos.png')
            h3.card-title CoreOS
            p.card-copy Deploy on CoreOS using custom install.
        a.card(href="#", data-name="Packet", data-doc="platform/packet")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/packet.png')
            h3.card-title Packet
            p.card-copy Deploy on Packet using templates.
        a.card(href="#", data-name="Vagrant", data-doc="platform/vagrant")
          .card-content
            .card-logo
              +image('/assets/images/icons/get-started/vagrant.png')
            h3.card-title Vagrant
            p.card-copy Deploy on Vagrant using custom install.

    .container__content.install(style='display: none;')

  .container
      +footer
