extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      .getstarted-heading
        span.getstarted-heading__copy Run:
        .getstarted-heading__service
          img(src='assets/images/icons/spark.png')
          span Spark
        span.getstarted-heading__copy on
        .getstarted-heading__platform
          img(src='assets/images/icons/spark.png')
          span Spark
      p Get started by selecting a service you want to run on a platform.

    .container__content.getstarted-tabs
        a.getstarted-tabs__step.step1(href='#')
          p Step 1
          h3 Select a service

        a.getstarted-tabs__step.step2.step-inactive(href='#')
          p Step 2
          h3 Select a platform

        .getstarted-tabs__step.step3.step-inactive
          p Step 3
          h3 Run it

    .container__content.arrow-container.step1
      .arrow
        .arrow-up

  .container
    .container__content.service-select
      h2 Select a service

      .card-container
        a.card(href="#", data-name="Marathon", data-doc="service/marathon")
          .card-content
            img.card-logo(src='assets/images/icons/marathon.png')
            h3.card-title Marathon
            p.card-copy Use to launch long-running apps, for example a webserver.
        a.card(href="#", data-name="Spark", data-doc="service/spark")
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Spark
            p.card-copy Use for elastic data processing, batch or streaming.
        a.card(href="#", data-name="ArangoDB", data-doc="service/arangodb")
          .card-content
            img.card-logo(src='assets/images/icons/arangodb.png')
            h3.card-title ArangoDB
            p.card-copy Use to store and query tree-like data as well as graphs.
        a.card(href="#", data-name="Cassandra", data-doc="service/cassandra")
          .card-content
            img.card-logo(src='assets/images/icons/cassandra.png')
            h3.card-title Cassandra
            p.card-copy Use to store and query semi-structured data in wide tables.
        a.card(href="#", data-name="Chronos", data-doc="service/chronos")
          .card-content
            img.card-logo(src='assets/images/icons/chronos.png')
            h3.card-title Chronos
            p.card-copy Use to launch scheduled batch jobs in a distributed way.
        a.card(href="#", data-name="Jenkins", data-doc="service/jenkins")
          .card-content
            img.card-logo(src='assets/images/icons/jenkins.png')
            h3.card-title Jenkins
            p.card-copy Use to build your scalable and fault-tolerant CI/CD pipeline.
          a.card(href="#", data-name="Kafka", data-doc="service/chronos")
            .card-content
              img.card-logo(src='assets/images/icons/kafka.png')
              h3.card-title Kafka
              p.card-copy Use to queue messages and distributed to others.
          a.card(href="#", data-name="Jenkins", data-doc="service/kafka")

    .container__content.platform-select(style='display: none;')
      h2 Select a platform

      .card-container
        a.card(href="#", data-name="Marathon", data-doc="service/marathon")
          .card-content
            img.card-logo(src='assets/images/icons/marathon.png')
            h3.card-title Marathon
            p.card-copy Use to launch long-running apps, for example a webserver.
        a.card(href="#", data-name="Spark", data-doc="service/spark")
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Spark
            p.card-copy Use for elastic data processing, batch or streaming.
        a.card(href="#", data-name="ArangoDB", data-doc="service/arangodb")
          .card-content
            img.card-logo(src='assets/images/icons/arangodb.png')
            h3.card-title ArangoDB
            p.card-copy Use to store and query tree-like data as well as graphs.
        a.card(href="#", data-name="Cassandra", data-doc="service/cassandra")
          .card-content
            img.card-logo(src='assets/images/icons/cassandra.png')
            h3.card-title Cassandra
            p.card-copy Use to store and query semi-structured data in wide tables.
        a.card(href="#", data-name="Chronos", data-doc="service/chronos")
          .card-content
            img.card-logo(src='assets/images/icons/chronos.png')
            h3.card-title Chronos
            p.card-copy Use to launch scheduled batch jobs in a distributed way.
        a.card(href="#", data-name="Jenkins", data-doc="service/jenkins")
          .card-content
            img.card-logo(src='assets/images/icons/jenkins.png')
            h3.card-title Jenkins
            p.card-copy Use to build your scalable and fault-tolerant CI/CD pipeline.
          a.card(href="#", data-name="Kafka", data-doc="service/chronos")
            .card-content
              img.card-logo(src='assets/images/icons/kafka.png')
              h3.card-title Kafka
              p.card-copy Use to queue messages and distributed to others.
          a.card(href="#", data-name="Jenkins", data-doc="service/kafka")
              
    .container__content.install(style='display: none;')


  .container
    .container__content
      +footer

  script(src='/scripts/main.js')
  script(src='/scripts/fetch.js')
  script(src='/scripts/get-started.js')
