extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      h1.getstarted-heading Run <img src='assets/images/icons/spark.png'><span>Spark</span> on <img src='assets/images/icons/spark.png'><span>Spark</span>
      p Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.

  .container
    .container__content
      h2 Try some services
      p  With DC/OS you don’t just get a world­-class datacenter operating system, you also have a rich repository of services that you can install and run with a single command (and uninstall just as easily). Give one a try!

      .card-container
        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try

        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try

        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try

        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try

        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try

        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try

  .container
    .container__content
      +footer
block scripts
  script(src='/scripts/fetch.js')
  script(src='/scripts/docs.js')