extends ../layouts/base.jade

block head
  title DC/OS

block content
  
  .container.container--dark-background
    +header
    
    .container__content.getstarted-form
      .getstarted-form__element
        label.getstarted-form__label(for='service') Run
        
        select.getstarted-form__select(name='service')
          option(value='Spark') Cassandra
          option(value='Jenkins') Jenkins
      
      .getstarted-form__element
        label.getstarted-form__label(for='platform') on
      
        select.getstarted-form__select(name='platform')
          option(value='Azure') Cassandra
          option(value='VMware') VMware
          
      input.cta.cta--button.getstarted-form__input(type='submit' value='Go')
      
  .container
    .container__content
      h2 Try some services
      p  With DC/OS you don’t just get a world­-class datacenter operating system, you also have a rich repository of services that you can install and run with a single command (and uninstall just as easily). Give one a try!

      .card-container
        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try
          
        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try
          
        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try
          
        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try
          
        .card
          .card-content
            img.card-logo(src='assets/images/icons/spark.png')
            h3.card-title Marathon
            p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            a.cta.cta--button.button--secondary Give it a try
          
        .card
          img.card-logo(src='assets/images/icons/spark.png')
          h3.card-title Marathon
          p.card-copy Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
          a.cta.cta--button.button--secondary Give it a try
  
  .container
    .container__content
      +footer
