extends ../layouts/base.jade

block head
  title The Definitive Platform for Modern Apps | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')

block content
  .container.container--dark-background
    +header

    .container__content.hero-content
      .container__content--hero-heading
        .hero-title-cta-container
          h1.hero-title
            span The easiest way to
            br
            span run&nbsp;
            span.typer containers
            br
            span in production.
          .hero-cta-container
            a(href='/get-started').cta.cta--button Get Started
            a.cta.cta--video(href='#', data-overlay-toggle='video-overlay')
              img.cta--video__icon(src='/assets/images/icons/playbutton.png')
              p.cta--video__text Play Video
        +image('/assets/images/hero-image.png')(class='hero-image')

      hr.hero-divider

  .bg-gray
    .max-width-4.flex.flex-wrap.mx-auto.mxn-2(style="padding: 5rem 0;")
        .col.col-3.left-align.px2
          img.hero-list__item__image(src="/assets/images/icons/containersbigdata.svg")
          h5.hero-list__item__copy__title Containers &amp; Big Data
          p.hero-list__item__copy__paragraph.small Easily deploy and run stateful or stateless distributed workloads including Docker containers, Big Data, and traditional apps.

        .col.col-3.left-align.px2
          img.hero-list__item__image(src="/assets/images/icons/open-source-dark.svg")
          h5.hero-list__item__copy__title 100% Open Source
          p.hero-list__item__copy__paragraph.small Run DC/OS in production without any scale or performance limitations, on any on-premises or cloud platform.

        .col.col-3.left-align.px2
          img.hero-list__item__image(src="/assets/images/icons/productionproven.svg")
          h5.hero-list__item__copy__title Production Proven
          p.hero-list__item__copy__paragraph.small Built on Apache Mesos with the experience of Mesosphere, Yelp, Twitter, Airbnb, and many of today’s most innovative companies.

        .col.col-3.left-align.px2
          img.hero-list__item__image(src="/assets/images/icons/serviceecosystem.svg")
          h5.hero-list__item__copy__title Datacenter Apps
          p.hero-list__item__copy__paragraph.small Build apps quickly using a rich ecosystem of datacenter-scale application services.

  .bg-white.center.flex.flex-column(style="padding-top: 5rem;")
    .sm-col.sm-col-12.md-col-6.mx-auto
      h2.mx-auto The Definitive Platform for Modern Apps - Production Experience Built-in.
      p.mx-auto Modern apps include containers of microservices and stateful big-data services.  DC/OS is the world’s first and only fully open source platform enabling enterprises to easily build and run modern apps in production.  Built on Apache Mesos, DC/OS abstracts your datacenter into a single computer, pooling distributed workloads and simplifying rollout and operations.
      a(href='/why-dcos').cta.cta--button.button--secondary(style="display: inline-block;") Learn More

    .max-width-4.mx-auto
      .stack-diagram(style='margin-left: 0; margin-right: 0;')
        .stack-diagram__top
          .stack-diagram__top-info.hide
            h3 Services &amp; Applications
            p Easily deploy and run datacenter-wide app services such as Docker, Cassandra, and Spark pooled on a single platform
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__middle
          .stack-diagram__middle-info.hide
            h3 DC/OS Powered by Apache Mesos
            p Runtime, tools and best practices built-in to simplify operations and deliver a production self-healing infrastructure
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__bottom
          .stack-diagram__bottom-info.hide
            h3 Run Anywhere
            p Bare-metal, virtual, cloud or hybrid - DC/OS runs on it all - only requirement is a modern Linux distro; Windows support coming soon
            .stack-diagram__arrow
              .stack-diagram__dot

      .stack-diagram-mobile
        .stack-diagram-mobile__container
          +image('/assets/images/illustrations/top.png')
          h5.hero-list__item__copy__title Services &amp; Applications
          p Easily deploy and run datacenter-wide app services such as Docker, Cassandra, and Spark pooled on a single platform

        .stack-diagram-mobile__container
          +image('/assets/images/illustrations/middle.png')
          h5.hero-list__item__copy__title DC/OS Powered by Apache Mesos
          p Runtime, tools and best practices built-in to simplify operations and deliver a production self-healing infrastructure

        .stack-diagram-mobile__container
          +image('/assets/images/illustrations/bottom.png')
          h5.hero-list__item__copy__title Run Anywhere
          p Bare-metal, virtual, cloud or hybrid - DC/OS runs on it all - only requirement is a modern Linux distro; Windows support coming soon

  .bg-white(style="padding: 5rem 0;")
    .max-width-4.mx-auto.flex.flex-wrap.left-align.pxn2
      .col-4.px2
        img.hero-list__item__image.larger-icon(src="/assets/images/icons/buildamazingapps.svg")
        .hero-list__item__copy
          h5.hero-list__item__copy__title Build Amazing Apps
          p.hero-list__item__copy__paragraph Combine the power of microservices, containers and Big Data to quickly build and ship modern state of the art applications.
          a(href='/why-dcos').cta.cta--text Learn More &rarr;

      .col-4.px2
        img.hero-list__item__image.larger-icon(src="/assets/images/icons/operatewithconfidence.svg")
        .hero-list__item__copy
          h5.hero-list__item__copy__title Operate with Confidence
          p.hero-list__item__copy__paragraph Use a production-proven platform to confidently operate, monitor and troubleshoot your datacenter with efficiency, ease, and flexibility.
          a(href='/why-dcos').cta.cta--text Learn More &rarr;

      .col-4.px2
        img.hero-list__item__image.larger-icon(src="/assets/images/icons/outpacethecompetition.svg")
        .hero-list__item__copy
          h5.hero-list__item__copy__title Outpace the Competition
          p.hero-list__item__copy__paragraph Quickly roll out new services using the ever growing DC/OS ecosystem, and attract the best talent working on the latest modern app technology.
          a(href='/why-dcos').cta.cta--text Learn More &rarr;

  include ../includes/case-studies

  .container.partner-quote-container
    .container__content
      .partner-quote-block-container
        .partner-quote-block.active
          blockquote.partner-quote-block__quote "The world needed a better architecture for all modern apps, not just containers. The open source community has come together around DC/OS to deliver an amazing ecosystem of products and datacenter services."
          cite.partner-quote-block__cite Florian Leibert, CEO & Co-Founder, Mesosphere
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote "Microsoft selected DC/OS for the Azure Container Service so our customers can easily build, deploy and manage modern applications on our enterprise-ready Azure cloud platform, as well as in private and hybrid cloud environments."
          cite.partner-quote-block__cite Mark Russinovich, Azure Chief Technology Officer, Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote "DC/OS is specifically designed for organizations seeking highly scalable, agile application development with continuous improvement and robust, reliable deployment."
          cite.partner-quote-block__cite Edy Liongosari, Managing Director, Accenture Labs

      ul.partner-quote-logo-list
        li.partner-quote-logo-list__partner-quote-logo.active
          a(data-activate-quote='0')
            img(src="/assets/images/logos/mesosphere.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='1')
            img(src="/assets/images/logos/microsoft.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='2')
            img(src="/assets/images/logos/accenture.svg")

  .overlay(data-overlay='video-overlay')
    .overlay__close-cta
      a(href='#', data-overlay-toggle='video-overlay')
        img(src='/assets/images/icons/cancel.svg')
    .overlay__video
      iframe(src="https://www.youtube-nocookie.com/embed/VdhJ_Fm3_mk?rel=0&enablejsapi=1&amp;showinfo=0;" frameborder="0" allowfullscreen)

  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes.
       a(href='/get-started').cta.cta--button Get Started

    +footer
