extends ../layouts/base.jade

block head
  title DC/OS

block content
  .container.container--dark-background
    +header

    .container__content.hero-content
      .container__content--hero-heading
        .hero-title-cta-container
          h1.hero-title
            span The easiest way to
            br
            span run&nbsp;
            span.typer containers
            br
            span in production.
          .hero-cta-container
            a(href='/get-started').cta.cta--button Get Started
            a.cta.cta--video(href='#', data-overlay-toggle='video-overlay')
              img.cta--video__icon(src='/assets/images/icons/playbutton.png')
              p.cta--video__text Play Video
        img.hero-image(src='/assets/images/hero-image.png')

      hr.hero-divider

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/containersbigdata.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Containers & Big Data
            p.hero-list__item__copy__paragraph.small Easily deploy and run stateful or stateless distributed workloads including Docker containers, big data, and traditional apps.

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/opensource.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title 100% Open Source
            p.hero-list__item__copy__paragraph.small Run DC/OS in production without any scale or performance limitations, on any on-premises or cloud platform.

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/productionproven.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Production Proven
            p.hero-list__item__copy__paragraph.small Built on Apache Mesos with the experience of Mesosphere, Yelp, Twitter, Airbnb, and many of today’s most innovative companies.

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/serviceecosystem.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Datacenter Apps
            p.hero-list__item__copy__paragraph.small Build apps quickly using a rich ecosystem of datacenter-scale application services.

  .container
    .container__content.community-hero
      h2 The Definitive Platform for Modern Apps - Production Experience Built-in.
      p Modern apps include containers of microservices and stateful big-data services.  DC/OS is the world’s first and only fully open source platform enabling enterprises to easily build and run modern apps in production.  Built on Apache Mesos, DC/OS abstracts your datacenter into a single computer, pooling distributed workloads and simplifying rollout and operations.
      a(href='/why-dcos').cta.cta--button.button--secondary Learn More

      .stack-diagram
        .stack-diagram__top
          .stack-diagram__top-info.hide
            h3 Services & Applications
            p Easily deploy and run datacenter-wide app services (e.g., Docker, Cassandra, Spark) pooled on a single platform
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__middle
          .stack-diagram__middle-info.hide
            h3 DC/OS + Apache Mesos
            p Runtime, tools and best practices built-in to simplify operations and deliver a production self-healing infrastructure
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__bottom
          .stack-diagram__bottom-info.hide
            h3 Run Anywhere
            p Bare-metal, virtual, cloud or hybrid - DC/OS runs on it all - only requirement is a modern Linux distro; Windows support coming soon
            .stack-diagram__arrow
              .stack-diagram__dot

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image.larger-icon(src="/assets/images/icons/buildamazingapps.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Build Amazing Apps
            p.hero-list__item__copy__paragraph Combine the power of microservices, containers and big data to quickly build and ship modern state of the art applications.
            a.cta.cta--text Learn More &rarr;

        li.hero-list__item
          img.hero-list__item__image.larger-icon(src="/assets/images/icons/operatewithconfidence.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Operate with Confidence
            p.hero-list__item__copy__paragraph Use a production-proven platform to confidently operate, monitor and troubleshoot your datacenter with efficiency, ease, and flexibility.
            a.cta.cta--text Learn More &rarr;

        li.hero-list__item
          img.hero-list__item__image.larger-icon(src="/assets/images/icons/outpacethecompetition.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Outpace the Competition
            p.hero-list__item__copy__paragraph Quickly roll out new services using the ever growing DC/OS ecosystem, and attract the best talent working on the latest modern app technology.
            a.cta.cta--text Learn More &rarr;

  .container.container--case-study
    .case-study-item.active
      .container__content.container__content--case-study-copy
        ul.bullet-list
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title Azure Container Service Powered&nbsp;by&nbsp;DC/OS
            p.case-study-description Our goal with Azure Container Service is to provide a container hosting environment using open source tools and tehcnolgoies that are popular among our customers today.
            a(href='/why-dcos').cta.cta--text.case-study-link Read full case study &rarr;

      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(http://placehold.it/1000x800/fff/000)')

    .case-study-item
      .container__content.container__content--case-study-copy
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title Lorem ipsum Amazon stuff
            p.case-study-description Our goal with Azure Container Service is to provide a container hosting environment using open source tools and tehcnolgoies that are popular among our customers today.
            a(href='/community').cta.cta--text.case-study-link Read full case study &rarr;

      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(http://placehold.it/1000x800)')


  .container.partner-quote-container
    .container__content
      .partner-quote-block-container
        .partner-quote-block.active
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus"
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft

      ul.partner-quote-logo-list
        li.partner-quote-logo-list__partner-quote-logo.active
          a(data-activate-quote='0')
            img(src="/assets/images/logos/coreos.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='1')
            img(src="/assets/images/logos/vmware.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='2')
            img(src="/assets/images/logos/microsoft.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='3')
            img(src="/assets/images/logos/aws.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='4')
            img(src="/assets/images/logos/redhat.svg")

  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes.
       a(href='/get-started').cta.cta--button Get Started

    +footer

  .overlay(data-overlay='video-overlay')
    .overlay__close-cta
      a(href='#', data-overlay-toggle='video-overlay')
        img(src='/assets/images/icons/cancel.svg')
    .overlay__video
      iframe(src="https://www.youtube-nocookie.com/embed/0I6qG9RQUnY?rel=0&enablejsapi=1&amp;showinfo=0;" frameborder="0" allowfullscreen)

  script(src='/scripts/main.js')
  script(src='/scripts/overlay.js')
  script(src='/scripts/quotes-carousel.js')
  script(src='/scripts/case-study-carousel.js')
  script(src='/scripts/typer.js')
  script(src='/scripts/stackdiagram.js')
