extends ../layouts/base.jade

block head
  title DC/OS

block content
  
  .container.container--dark-background
    .container__content.container__content--hero-heading
      h1 The easiest way to run containers in production
      a.cta.cta--button Get Started
      a.cta.cta--video
        img.cta--video__icon(src='assets/images/icons/playbutton@2x.png')
        p.cta--video__text Watch The Video
    
      hr.hero-divider
        
      ul.hero-list
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/scalable@2x.png")
          .hero-list__item__copy
            h4.hero-list__item__copy__title Scalable
            p Two­-layer scheduling unlocks the highly scalable container orchestration required for running apps with microservices.
        
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/mature@2x.png")
          .hero-list__item__copy
            h4.hero-list__item__copy__title Mature
            p Battle-hardened frameworks like Spark and Cassandra unlock the processing of big-data in real-time.
        
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/flexible@2x.png")
          .hero-list__item__copy
            h4.hero-list__item__copy__title Flexible
            p Lifecycle management of both high-level web applications and low-level distributed systemson a single platform.      
        
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/efficient@2x.png")
          .hero-list__item__copy
            h4.hero-list__item__copy__title Efficient
            p Collocation of diverse tasks on the same hardware ensures minimum wasted expense and energy efficiency.
  
  .container
    .container__content
      h2 Run containerized applications
      p  DC/OS is the only mature and highly scalable open­-source platform for modern datacenter applications. It features everything to effortlessly run containerized applications, including battle hardened services like Spark and Cassandra.
      a.cta.cta--button Learn More
      img(src="assets/images/containerized-applications.png")
  
  .container.container--full-width
    .container__content.container__content--case-study-copy
        h3 Azure Container Service Powered by DC/OS
        p Our goal with Azure Container Service is to provide a container hosting environment using open source tools and tehcnolgoies that are popular among our customers today.
        a.cta.cta--text Read full case study &rarr;
        
    .container__content.container__content--case-study-image
        img(src="assets/images/logos/microsoft.svg")
    
      
  .container
    .container__content
      .partner-quote-block
        blockquote.partner-quote-block__quote “DC/OS is so awesome. I can’t imagine life without it, and I’m grateful that I don’t have to. We’re excited to have Mantl running on DC/OS because the platform is just so damn good.”
        cite.partner-quote-block__cite Maia Distrafiso, Lead Developer Microsoft
    
    ul.partner-quote-logo-list
      li.partner-quote-logo-list__partner-quote-logo
        img(src="assets/images/logos/coreos.svg")
      li.partner-quote-logo-list__partner-quote-logo
        img(src="assets/images/logos/vmware.svg")
      li.partner-quote-logo-list__partner-quote-logo
        img(src="assets/images/logos/microsoft.svg")
      li.partner-quote-logo-list__partner-quote-logo
        img(src="assets/images/logos/aws.svg")
      li.partner-quote-logo-list__partner-quote-logo
        img(src="assets/images/logos/redhat.svg")
        
  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes
       a.cta.cta--button Get Started
