extends ../layouts/base.jade

block head
  title The Definitive Platform for Modern Apps | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-share.png')
  meta(property='og:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos_io')
  meta(name='twitter:title', content='The Definitive Platform for Modern Apps | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-share.png')
  meta(name='twitter:description', content='Based on the production proven Apache Mesos, combining years of  experience, and best practices of building and running modern applications in production.')

block content
  .container.container--dark-background
    +header

    .container__content.hero-content
      .container__content--hero-heading
        .hero-title-cta-container
          h1.hero-title
            span The easiest way to
            br
            span run&nbsp;
            span.typer containers
            br
            span in production.
          .hero-cta-container
            a(href='/get-started').cta.cta--button Get Started
            a.cta.cta--video(href='#', data-overlay-toggle='video-overlay')
              img.cta--video__icon(src='/assets/images/icons/playbutton.png')
              p.cta--video__text Play Video
        +image('/assets/images/hero-image.png')(class='hero-image')

      hr.hero-divider

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/containersbigdata.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Containers & Big Data
            p.hero-list__item__copy__paragraph.small Easily deploy and run stateful or stateless distributed workloads including Docker containers, Big Data, and traditional apps.

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/open-source-dark.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title 100% Open Source
            p.hero-list__item__copy__paragraph.small Run DC/OS in production without any scale or performance limitations, on any on-premises or cloud platform.

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/productionproven.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Production Proven
            p.hero-list__item__copy__paragraph.small Built on Apache Mesos with the experience of Mesosphere, Yelp, Twitter, Airbnb, and many of today’s most innovative companies.

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/serviceecosystem.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Datacenter Apps
            p.hero-list__item__copy__paragraph.small Build apps quickly using a rich ecosystem of datacenter-scale application services.

  .container
    .container__content.community-hero
      h2 The Definitive Platform for Modern Apps - Production Experience Built-in.
      p Modern apps include containers of microservices and stateful big-data services.  DC/OS is the world’s first and only fully open source platform enabling enterprises to easily build and run modern apps in production.  Built on Apache Mesos, DC/OS abstracts your datacenter into a single computer, pooling distributed workloads and simplifying rollout and operations.
      a(href='/why-dcos').cta.cta--button.button--secondary Learn More

      .stack-diagram
        .stack-diagram__top
          .stack-diagram__top-info.hide
            h3 Services & Applications
            p Easily deploy and run datacenter-wide app services such as Docker, Cassandra, and Spark pooled on a single platform
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__middle
          .stack-diagram__middle-info.hide
            h3 DC/OS Powered by Apache Mesos
            p Runtime, tools and best practices built-in to simplify operations and deliver a production self-healing infrastructure
            .stack-diagram__arrow
              .stack-diagram__dot
        .stack-diagram__bottom
          .stack-diagram__bottom-info.hide
            h3 Run Anywhere
            p Bare-metal, virtual, cloud or hybrid - DC/OS runs on it all - only requirement is a modern Linux distro; Windows support coming soon
            .stack-diagram__arrow
              .stack-diagram__dot

      .stack-diagram-mobile
        .stack-diagram-mobile__container
          +image('/assets/images/illustrations/top.png')
          h5.hero-list__item__copy__title Services & Applications
          p Easily deploy and run datacenter-wide app services such as Docker, Cassandra, and Spark pooled on a single platform

        .stack-diagram-mobile__container
          +image('/assets/images/illustrations/middle.png')
          h5.hero-list__item__copy__title DC/OS Powered by Apache Mesos
          p Runtime, tools and best practices built-in to simplify operations and deliver a production self-healing infrastructure

        .stack-diagram-mobile__container
          +image('/assets/images/illustrations/bottom.png')
          h5.hero-list__item__copy__title Run Anywhere
          p Bare-metal, virtual, cloud or hybrid - DC/OS runs on it all - only requirement is a modern Linux distro; Windows support coming soon

      ul.container__content--hero-list.home-second-list
        li.hero-list__item
          img.hero-list__item__image.larger-icon(src="/assets/images/icons/buildamazingapps.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Build Amazing Apps
            p.hero-list__item__copy__paragraph Combine the power of microservices, containers and Big Data to quickly build and ship modern state of the art applications.
            a(href='/why-dcos').cta.cta--text Learn More &rarr;

        li.hero-list__item
          img.hero-list__item__image.larger-icon(src="/assets/images/icons/operatewithconfidence.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Operate with Confidence
            p.hero-list__item__copy__paragraph Use a production-proven platform to confidently operate, monitor and troubleshoot your datacenter with efficiency, ease, and flexibility.
            a(href='/why-dcos').cta.cta--text Learn More &rarr;

        li.hero-list__item
          img.hero-list__item__image.larger-icon(src="/assets/images/icons/outpacethecompetition.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Outpace the Competition
            p.hero-list__item__copy__paragraph Quickly roll out new services using the ever growing DC/OS ecosystem, and attract the best talent working on the latest modern app technology.
            a(href='/why-dcos').cta.cta--text Learn More &rarr;

  .container.container--case-study
    .case-study-item.active
      .container__content.container__content--case-study-copy
        ul.bullet-list
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title Autodesk is Forging Ahead with Mesos, Containers and DC/OS
            p.case-study-description Having now run our event streaming and Big Data ingestion pipeline services in production on DC/OS, across 3 regions, over the last year, we've achieved the following results: a 66% reduction in AWS Instances, cost Improvements up to 57%, and an impressive 40 sec time to deploy a new build with zero downtime.
            a(href='http://cloudengineering.autodesk.com/blog/2016/04/autodesk-is-forging-ahead-with-dcos.html' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-autodesk.png)')

    .case-study-item
      .container__content.container__content--case-study-copy
        ul.bullet-list
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title Open Source DC/OS: The modern way to run a distributed database
            p.case-study-description Just a little while ago, setup, management and maintenance of a database cluster was just a world of pain. Now we have stepped across the edge to a new era in which open-source technology is all you need to run distributed applications at scale.
            a(href='https://www.arangodb.com/2016/04/dcos-the-modern-way-to-run-a-distributed-database/' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-arangodb.png)')

    .case-study-item
      .container__content.container__content--case-study-copy
        ul.bullet-list
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title linkerd + DC/OS: microservices in production made easy
            p.case-study-description linkerd is Buoyant’s open source traffic layer manager for microservices. If you’re running microservices on DC/OS, you can install the linkerd DC/OS package today to get programmable control over the flow of all RPC traffic throughout your application.
            a(href='https://blog.buoyant.io/2016/04/19/linkerd-dcos-microservices-in-production-made-easy/' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-linkerd.png)')

    .case-study-item
      .container__content.container__content--case-study-copy
        ul.bullet-list
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title SMACK stack on DC/OS -- how it’s all woven together
            p.case-study-description In this blog, we explore how easy it is to run an application on DC/OS using the SMACK stack (Spark, Mesos, Akka, Cassandra, and Kafka). We focus on how the different components of the stack are woven together to support the application.
            a(href='http://www.cakesolutions.net/teamblogs/smack-stack-on-dcos' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-smack.png)')

    .case-study-item
      .container__content.container__content--case-study-copy
        ul.bullet-list
        .case-study-fade-wrapper
          .copy-wrapper
            h3.case-study-title On-demand Interactive Data Science with DC/OS
            p.case-study-description In this post, we analyze a set of road safety data from Great Britain, 1979-2004. This analysis requires distributed processing and we create an environment that allows our processing jobs to scale horizontally. We’re running a DC/OS cluster with an interactive research notebook (container of Jupyter Python Notebook with Apache Spark) and a distributed file system (HDFS).
            a(href='http://blog.dataart.com/on-demand-interactive-data-science-with-dcos%E2%80%8B' target="_blank").cta.cta--text.case-study-link Read full case study &rarr;
      .container__content.container__content--case-study-image-wrapper
        .image-wrapper(style='background-image: url(/assets/images/case-studies/case-study-data-art.png)')


  .container.partner-quote-container
    .container__content
      .partner-quote-block-container
        .partner-quote-block.active
          blockquote.partner-quote-block__quote "The world needed a better architecture for all modern apps, not just containers. The open source community has come together around DC/OS to deliver an amazing ecosystem of products and datacenter services."
          cite.partner-quote-block__cite Florian Leibert, CEO & Co-Founder, Mesosphere
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote "Microsoft selected DC/OS for the Azure Container Service so our customers can easily build, deploy and manage modern applications on our enterprise-ready Azure cloud platform, as well as in private and hybrid cloud environments."
          cite.partner-quote-block__cite Mark Russinovich, Azure Chief Technology Officer, Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote "DC/OS is specifically designed for organizations seeking highly scalable, agile application development with continuous improvement and robust, reliable deployment."
          cite.partner-quote-block__cite Edy Liongosari, managing director, Accenture Labs

      ul.partner-quote-logo-list
        li.partner-quote-logo-list__partner-quote-logo.active
          a(data-activate-quote='0')
            img(src="/assets/images/logos/mesosphere.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='1')
            img(src="/assets/images/logos/microsoft.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(data-activate-quote='2')
            img(src="/assets/images/logos/accenture.svg")

  .overlay(data-overlay='video-overlay')
    .overlay__close-cta
      a(href='#', data-overlay-toggle='video-overlay')
        img(src='/assets/images/icons/cancel.svg')
    .overlay__video
      iframe(src="https://www.youtube-nocookie.com/embed/VdhJ_Fm3_mk?rel=0&enablejsapi=1&amp;showinfo=0;" frameborder="0" allowfullscreen)

  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes.
       a(href='/get-started').cta.cta--button Get Started

    +footer
