extends ../layouts/base.jade

block head
  title DC/OS

block content
  .container.container--dark-background
    +header

    .container__content
      .container__content--hero-heading
        .hero-title-cta-container
          h1.hero-title The easiest way to run containers in production
          .hero-cta-container
            a(href='/get-started').cta.cta--button Get Started
            a.cta.cta--video
              img.cta--video__icon(src='assets/images/icons/playbutton@2x.png')
              p.cta--video__text Play Video
        img.hero-image(src='assets/images/hero-image.png')

      hr.hero-divider

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/scalable.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Scalable
            p.hero-list__item__copy__paragraph Two­-layer scheduling unlocks the highly scalable container orchestration required for running apps with microservices.

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/mature.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Mature
            p.hero-list__item__copy__paragraph Battle-hardened frameworks like Spark and Cassandra unlock the processing of big-data in real-time.

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/flexible.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Flexible
            p.hero-list__item__copy__paragraph Lifecycle management of both high-level web applications and low-level distributed systemson a single platform.

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/efficient.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Efficient
            p.hero-list__item__copy__paragraph Collocation of diverse tasks on the same hardware ensures minimum wasted expense and energy efficiency.

  .container
    .container__content.community-hero
      h2 Run containerized applications
      p  DC/OS is the only mature and highly scalable open­-source platform for modern datacenter applications. It features everything to effortlessly run containerized applications, including battle hardened services like Spark and Cassandra.
      a.cta.cta--button.button--secondary Learn More
      figure.full-width-image
        img(src="assets/images/containerized-applications.png")

      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/github.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title GitHub
            p.hero-list__item__copy__paragraph Are you interested in helping us make DC/OS even better? Let’s work together! Read up on our GitHub repository to help you on your way.
            a.cta.cta--text Visit repository &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Slack
            p.hero-list__item__copy__paragraph Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            a.cta.cta--text Join chat &rarr;

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/twitter.svg")
          .hero-list__item__copy
            h5.hero-list__item__copy__title Twitter
            p.hero-list__item__copy__paragraph Want to stay in the loop? Get the latest news and updates surrounding DC/OS and join in the discussion by following our official Twitter account.
            a.cta.cta--text Follow us &rarr;

  .container.container--case-study
    .container__content.container__content--case-study-copy
        h3.case-study-copy Azure Container Service Powered&nbsp;by&nbsp;DC/OS
        p.case-study-copy Our goal with Azure Container Service is to provide a container hosting environment using open source tools and tehcnolgoies that are popular among our customers today.
        a.cta.cta--text.case-study-copy Read full case study &rarr;

        ul.bullet-list
          li.bullet-list__item
            a.bullet-list__bullet.active
          li.bullet-list__item
            a.bullet-list__bullet
          li.bullet-list__item
            a.bullet-list__bullet
          li.bullet-list__item
            a.bullet-list__bullet

    .container__content.container__content--case-study-image-wrapper
        img.case-study-image(src="assets/images/logos/microsoft.svg")


  .container
    .container__content
      .partner-quote-block-container
        .partner-quote-block.active
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus"
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft

        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft
        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft

        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft

        .partner-quote-block.hidden
          blockquote.partner-quote-block__quote “DC/OS Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultrices scelerisque fermentum. Nulla venenatis leo at enim iaculis, vitae fringilla purus”
          cite.partner-quote-block__cite Maia&nbsp;Distrafiso, Lead&nbsp;Developer&nbsp;Microsoft

      ul.partner-quote-logo-list
        li.partner-quote-logo-list__partner-quote-logo.active
          a(href='#', data-activate-quote='0')
            img(src="assets/images/logos/coreos.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(href='#', data-activate-quote='1')
            img(src="assets/images/logos/vmware.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(href='#', data-activate-quote='2')
            img(src="assets/images/logos/microsoft.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(href='#', data-activate-quote='3')
            img(src="assets/images/logos/aws.svg")
        li.partner-quote-logo-list__partner-quote-logo
          a(href='#', data-activate-quote='4')
            img(src="assets/images/logos/redhat.svg")

  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes
       a(href='/get-started').cta.cta--button Get Started

    +footer
block scripts
  script(src='/scripts/quotes-carousel.js')
