extends ../layouts/base-whitefooter.jade

block head
  title Install | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Install | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Find detailed installation guides for Vagrant, AWS, Windows Azure, packet, CentOS, CoreOS using the CLI, GUI or the advanced custom installer.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Install | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Find detailed installation guides for Vagrant, AWS, Windows Azure, packet, CentOS, CoreOS using the CLI, GUI or the advanced custom installer.')

block content

  .container.container--dark-background
    +header

    .container__content.community-hero
      h1 Install DC/OS

  .container
    .container__content.install-columns
      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/local.svg")
          .hero-list__item__copy
            h3.install-bullets-title Local
            p Vagrant-based installer that creates a cluster of virtual machines on a local machine.
            h4.install-bullets-title Requirements
            p.small A machine with at least 16GB of RAM.
            h6 Install on:
          a(href='/docs/latest/administration/installing/local/').card
            .card-content
              +image('/assets/images/logos/install-platforms/vagrant.png')

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/cloud.svg")
          .hero-list__item__copy
            h3.install-bullets-title Cloud
            p Configurable cloud provisioning templates for AWS, Azure, and Packet.
            h4.install-bullets-title Requirements
            p.small An active cloud subscription with your favorite provider.
            h6 Install on:
          a(href='/docs/latest/administration/installing/cloud/aws/').card
            .card-content
              +image('/assets/images/logos/install-platforms/aws.png')
          a(href='/docs/latest/administration/installing/cloud/azure/').card
            .card-content
              +image('/assets/images/logos/install-platforms/azure.png')
          a(href='/docs/latest/administration/installing/cloud/packet/').card
            .card-content
              +image('/assets/images/logos/install-platforms/packet.png')

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/custom-cloud.svg")
          .hero-list__item__copy
            h3.install-bullets-title Custom Cloud
            p Custom installers for existing setups in either AWS or any cloud.
            h4.install-bullets-title Requirements
            p.small An active cloud subscription; an existing cluster with at least 4 nodes.
            h6 Install on:
          a(href='/docs/latest/administration/installing/custom/').card
            .card-content
              +image('/assets/images/logos/install-platforms/aws.png')

          a(href='/docs/latest/administration/installing/custom/').card.card--custom-instal
            .card-content
              h5.custom-install OTHER PLATFORMS

        li.hero-list__item
          img.hero-list__item__image(src="/assets/images/icons/on-premesis.svg")
          .hero-list__item__copy
            h3.install-bullets-title On-Premises
            p GUI, command line and advanced installers for on-premises setups.
            h4.install-bullets-title Requirements
            p.small At least 4 nodes, each 4GB/2 CPUs.
            h6 Install on:
          a(href='/docs/latest/administration/installing/custom/').card
            .card-content
              +image('/assets/images/logos/install-platforms/centos.png')
          a(href='/docs/latest/administration/installing/custom/advanced/').card
            .card-content
              +image('/assets/images/logos/install-platforms/coreos.png')

  .container
    +footer
