extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content.community-hero
      h1 Install DC/OS

  .container
    .container__content
      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/github.svg")
          .hero-list__item__copy
            h3.install-bullets-title Local
            p Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Duis mollis, est non.
            h4.install-bullets-title Installation
            p A single machine with at least 16GB of memory.
            h6 Install on:
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h3.install-bullets-title Cloud
            p Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Duis mollis, est non.
            h4.install-bullets-title Installation
            p An active cloud subscription.
            h6 Install on:
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h3.install-bullets-title Custom Cloud
            p Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Duis mollis, est non.
            h4.install-bullets-title Installation
            p An active cloud subscription; a custom cluster with at least 4 nodes: 1 master and 3 agents.
            h6 Install on:
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h3.install-bullets-title On-Premise
            p Curabitur blandit tempus porttitor. Sed posuere consectetur est at lobortis. Duis mollis, est non.
            h4.install-bullets-title Installation
            p At least 4 nodes: 1 master and 3 agents
            h6 Install on:
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')
          .card
            .card-content
              img(src='assets/images/logos/microsoft.svg')

  .container
    .container__content
      +footer
