extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content.community-hero
      h1 Install DC/OS
      p.hero-subtitle Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum.
      
  .container
    .container__content
      ul.container__content--hero-list
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/github.svg")
          .hero-list__item__copy
            h3.install-bullets-title GitHub
            p Are you interested in helping us make DC/OS even better? Let’s work together! Read up on our GitHub repository to help you on your way.
            h4 Installation
            p Requires at least 16GB of Memory.

        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h3.install-bullets-title Slack
            p Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            h4 Installation
            p Requires at least 16GB of Memory.
            
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h3.install-bullets-title Slack
            p Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            h4 Installation
            p Requires at least 16GB of Memory.
            
        li.hero-list__item
          img.hero-list__item__image(src="assets/images/icons/slack.svg")
          .hero-list__item__copy
            h3.install-bullets-title Slack
            p Have any questions? Our Slack channel is the best place to get help. Just send us a request to automatically receive your invitation.
            h4 Installation
            p Requires at least 16GB of Memory.
      
  .container
    .container__content
      +footer
