extends ../layouts/base-whitefooter.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Privacy Policy

  .container
    .container__content
      .text-align-left
        include:markdown privacy.md


  .container
      +footer
