extends ../layouts/base.jade

block head
  title DC/OS - Launch Quotes

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Selected Launch Quotes

  .container
    .container__content
      p "The world needed a better architecture for all modern apps, not just containers. DC/OS represents a major industry transformation, delivering today’s enterprises an open source datacenter-scale operating system that pools compute resources into what looks like one big computer, running containers, microservices, big data systems and other components of modern applications with ease. The open source community has come together around DC/OS to deliver an amazing ecosystem of products and datacenter services."
      p <strong>Florian Leibert</strong><br>CEO & Co-Founder, <a href="http://www.mesosphere.com" target="_blank">Mesosphere</a>
      hr
      p "DC/OS takes an open source approach ideally suited for applications that will define the next decade of business. Microsoft selected DC/OS for the Azure Container Service so our customers can easily build, deploy and manage modern applications on our enterprise-ready Azure cloud platform, as well as in private and hybrid cloud environments."
      p <strong>Mark Russinovich</strong><br>Azure Chief Technology Officer, <a href="http://www.microsoft.com" target="_blank">Microsoft</a>
      hr
      p "DC/OS is specifically designed for organizations seeking highly scalable, agile application development with continuous improvement and robust, reliable deployment. Accenture is mature in its ability to implement container-based solutions and DC/OS is a powerful underlying technology that will provide us with the implementation agility needed for custom development projects. We look forward to continuing our participation in the DC/OS open source project and supporting the evolution of the ecosystem."
      p <strong>Edy Liongosari</strong><br>managing director, <a href="https://www.accenture.com/us-en/accenture-technology-labs-index" target="_blank">Accenture Labs</a>
      hr
      p "Businesses want to accelerate the development and delivery of secure and scalable cloud native services. HPE is excited to partner with Mesosphere to simplify this process for customers by bringing together container orchestration, big data, and composable technologies for modern data centers."
      p <strong>Manoj Nair</strong><br>Vice President, CDI Converged Product Management, <a href="http://www.hpe.com" target="_blank">Hewlett Packard Enterprise</a>
      hr
      p "We love how DC/OS makes delivering highly scalable cloud-native solutions easy. DC/OS is built on top of Mesos, a robust and production-tested resource management framework, delivering an incredible experience for those running containers and big data applications. Combine this with NetApp’s portfolio and our unmatched ability to manage application data, and you’ve got a pairing that’s worth getting excited about.”
      p <strong>Jeff O’Neal</strong><br>Senior Director of the Data Fabric Group, <a href="http://www.netapp.com/" target="_blank">NetApp</a>
      hr
      p "Hybrid and multi-cloud deployments are the new reality. We see DC/OS as a critical part of the true hybrid cloud. Equinix is home to 1,100 network providers across 145 datacenters in 21 countries and we will be using DC/OS to form the foundation for an open source ecosystem that innovates around multi-cloud and IoT. We believe that DC/OS, combined with other initiatives like Open Compute, will drive rapid innovation in the manageability, performance, security, and reliability of modern applications in hybrid environments."
      p <strong>Ihab Tarazi</strong><br>CTO, <a href="http://www.equinix.com" target="_blank">Equinix</a>
      hr
      p “As a young, venture-funded startup, our focus is on continuously innovating ArangoDB’s functionality and growing our market share. The DC/OS SDK, the primitives in the Mesos kernel, and the DC/OS extensions that allow for packaging and distribution are allowing us to expand our footprint rapidly. We at ArangoDB believe that changing the world is a matter of enabling people to focus their limited time on valuable tasks and having free access to the best technology out there. With the launch of DC/OS, the whole open source movement took a big step forward.”
      p <strong>Claudius Weinberger</strong><br>CEO and Founder, <a href="http://www.arangodb.com/" target="_blank">ArangoDB</a>
      hr
      p “DC/OS greatly simplifies installing and running a production cluster, enabling users to quickly innovate and experiment with new frameworks and services. At Puppet, we're committed to enabling organizations to build and operate constantly modern software and have been working with Mesosphere and the community on a module to install and configure DC/OS so that our customers can run these modern workloads in their datacenters."
      p <strong>Nigel Kersten</strong><br>CIO, <a href="http://www.puppet.com/" target="_blank">Puppet</a>
      hr
      p “In a software-driven economy, the application has become a revenue engine. We're excited to partner with Mesosphere and the open source community in enabling every business to deploy a modern application stack. By combining Chef and DC/OS, customers can automate the deployment of infrastructure and applications reliably, at any scale."
      p <strong>Ken Cheney</strong><br>VP of Business Development & Product Marketing, <a href="http://www.chef.io/" target="_blank">Chef</a>
      hr
      p "We're excited to join the DC/OS community in this launch, as developers and operators can now easily access and deploy NGINX as part of their DC/OS environment through Universe. NGINX is one of the most widely deployed application tools in containerized environments, enabling organizations to confidently build and deliver their next-generation applications at scale. We see a huge opportunity for the DC/OS Universe to bring plug-and-play services and apps such as NGINX and NGINX Plus to the distributed enterprise."
      p <strong>Gus Robertson</strong><br>CEO, <a href="http://www.nginx.com" target="_blank">NGINX, Inc.</a>
      hr
      p "At Cisco we are interested in using DC/OS to deliver Mantl (mantl.io), our batteries included end to end solution for your microservices infrastructure. The design point for Mantl is to focus a community around an end to end solution, not around an individual component; designed to solve business and team challenges, one glue, improved by the community, tested everywhere. We are very excited to be working with Mesosphere on DC/OS as this project that will greatly improve the stability and reliability of the microservices platform deployment and runtime."
      p <strong>Ken Owens</strong><br>CTO, Cloud Infrastructure Services, <a href="http://www.cisco.com/" target="_blank">Cisco Systems</a>
      hr
      p "Yelp is a heavy user of DC/OS technologies for managing a large Docker environment that spans our private datacenters and the public cloud. We even built our in house PaaS—PaaSTA—on top of DC/OS’s Marathon. Adopting these technologies has given Yelp’s developers and operators remarkable agility, and we believe DC/OS can bring the same results to all companies as they embrace technologies such as containers and cloud computing."
      p <strong>Michael Stoppelman</strong><br>SVP of Engineering, <a href="http://www.yelp.com/" target="_blank">Yelp</a>
      hr
      p “Community is what open source is all about, and Mesosphere’s launch of DC/OS as open source adds to the excitement we and our customers share about modernizing and scaling applications.  Customers love to hear that longevity and scale have been baked into DC/OS from the start, and the addition of a fully open-source version creates the easiest onramp to getting modern datacenter applications into production. Redapt is looking forward to providing the infrastructure, reference architecture, and cloud & devops consulting for DC/OS projects and helping to assure transformative results!”
      p <strong>Mark Williams</strong><br>CTO, <a href="http://www.redapt.com/" target="_blank">Redapt</a>
      hr
      p “MIRACL chose DC/OS as the first orchestration platform integration for MIRACL’s Distributed Datacenter Cryptosystem, and the choice was obvious. Our world class cryptographic solution is complemented by a world class datacenter operating system, allowing us to leverage a highly available, expertly supported, and constantly expanding ecosystem for modern cloud and on-premises datacenters.”
      p <strong>Brian Spector</strong><br>CEO, <a href="http://www.miracl.com/miracl-product-ddc" target="_blank">MIRACL</a>
      hr
      p “Microservices and containers are transforming how enterprises are developing and managing their application portfolio for the cloud. Ishi Systems is excited to be part of the DC/OS community that brings enterprises a foundational platform on which to base their cloud-native transformation. DC/OS provides Ishi Systems customers a best-in-class platform for microservices and containers with enterprise-grade features backed by a vibrant open community.”
      p <strong>Saju Thomas</strong><br>Director, Cloud Platforms, <a href="http://www.ishisystems.com/" target="_blank">Ishi Systems</a>
      hr
      p "Big Switch Networks is excited to participate in the DC/OS community. The DC/OS concept of one logical computer is highly synergistic with Big Switch’s SDN-based one logical switch. Together, the solution offers a highly simplified and automated infrastructure for deploying and scaling modern applications and containers, while ensuring attractive economics and no vendor lock-in."
      p <strong>Prashant Gandhi</strong><br>VP Products and Strategy, <a href="http://www.bigswitch.com/" target="_blank">Big Switch Networks</a>
      hr
      p “DC/OS is delivering the future of application hosting to our customers and here at Big Industries we're super excited about it. We’re using DC/OS to deploy the next logical progression in systems architecture – the compute cluster operating system – and it is bringing our clients improved market agility and tighter SLA compliance, even while consolidating their costs. Do more with less? You got it.”
      p <strong>Robert Gibbon</strong><br>Partner, <a href="http://www.bigindustries.be/" target="_blank">Big Industries</a>
      hr
      p "DC/OS allows our clients to harness the power of a datacenter operating system in a true open source fashion. It allows them to seamlessly transition their container-backed applications into production without having to worry about the intricacies of building and managing large scale infrastructure.”
      p <strong>Peter Evison</strong><br>UK/US Commercial Director, <a href="http://www.cakesolutions.net/" target="_blank">Cake Solutions</a>
      hr
      p "QCT, Mesosphere and rest of the DC/OS community all share the same vision to innovate on hyperscale datacenter infrastructure. DC/OS is the open source leader in hyperscale cloud management software. Its high scalability, fault resiliency and cost effectiveness benefit our customers running hyperscale cloud-native apps on QCT’s integrated rack solution. We believe QCT’s state-of-the-art hardware provides a solid ground for open source DC/OS from Day One.”
      p <strong>Mike Yang</strong><br>General Manager, <a href="http://www.qct.io/" target="_blank">QCT</a>
      hr
      p “Enterprise-scale big data and infrastructure challenges are never easy. The DC/OS open source project will enable our teams and clients to tackle big data, devops, continuous integration and continuous delivery faster. The DC/OS ecosystem, and the design approaches inspired by it, will help our clients successfully transform their business technology and forever change the way we look at cloud and devops.”
      p <strong>Artyom Astafurov</strong><br>Managing Partner, Technology Consulting, <a href="http://www.dataart.com/technology" target="_blank">DataArt</a>
      hr
      p “Some people might underestimate the power of DC/OS when they see how easy it is to install, scale and manage, but don't be fooled, this launch is a very important milestone. That's why we were excited to have early access to the project, and join Mesosphere and the other 50+ launch partners in making it a reality. Our product, Agile Data Science Toolkit, is tightly integrated with DC/OS and introduces data science pipelines dedicated to specific environments and domains, while maintaining the business knowledge involved in the process.”
      p <strong>Andy Petrella</strong><br>Co-Founder, <a href="http://www.data-fellas.guru/" target="_blank">Data Fellas</a>
      hr
      p "Alluxio and Mesosophere share a common legacy at the UC-Berkeley AMPLab, where our core technologies were created and incubated alongside other innovative projects such as Spark. With DC/OS, all of these technologies come together again on powerful, proven and easy-to-use shared foundation. The ability to integrate the Alluxio memory-speed virtual distributed storage system with Spark and HDFS on the same infrastructure platform will forever change the way organizations build and run high-performance data-driven applications.”
      p <strong>Haoyuan Li</strong><br>CEO, <a href="http://www.alluxio.com" target="_blank">Alluxio</a>
      hr
      //p ""
      //p <strong>n</strong><br>t, <a href="http://www..com/" target="_blank">c</a>
      //hr


  .container
    .container__content
      +footer
