extends ../layouts/base-whitefooter.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Terms of Service
      p.hero-subtitle Effective: April 19, 2016

  .container
    .container__content
      .text-align-left
        include:markdown tos.md

  .container
      +footer
