extends ../layouts/base.jade

block head
  title DC/OS

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Terms of Service

  .container
    .container__content
      .text-align-left
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie ipsum a rhoncus placerat. Nunc ac euismod tortor. Integer vitae turpis eget odio blandit semper sodales ut felis. In ultrices eros vel semper aliquet. Donec porta mollis ornare. Maecenas imperdiet mi quis leo scelerisque, vitae hendrerit massa sagittis. Donec ultricies vestibulum viverra.

        p Etiam vitae felis varius magna commodo pretium. Etiam sed lacinia diam. Quisque non ligula tincidunt, sollicitudin libero eget, pharetra velit. Mauris porta nunc quis mollis pulvinar. Sed posuere tempus rhoncus. Etiam ipsum urna, egestas vitae nisl elementum, tempus bibendum felis. Cras eu malesuada arcu. Morbi sit amet rutrum massa, a maximus sapien. Maecenas eu nisi eget odio rutrum bibendum. Sed fermentum risus purus, pulvinar aliquam ex lobortis nec. Vestibulum in finibus metus. Suspendisse eleifend a turpis eu iaculis. Phasellus commodo dolor ut ex dignissim, quis sagittis tellus porta.

        p Nulla eget libero arcu. Ut id turpis erat. Aliquam faucibus id lectus rhoncus fermentum. Maecenas nec viverra velit, eget fermentum nisi. Sed ut pretium urna. Nullam id velit commodo, cursus eros ut, feugiat felis. Praesent at diam dictum ligula ornare sollicitudin. Proin viverra nunc non malesuada lacinia. Sed eget tellus libero. Vivamus vel placerat tortor. Sed venenatis enim in orci sodales consequat. Aliquam convallis purus quis erat condimentum rutrum eget vitae justo. Aenean vitae enim non dolor efficitur vulputate vel sed nisl. Pellentesque euismod pretium urna, facilisis porta risus condimentum vel. Proin vel justo neque.

        p Sed eget blandit nunc. Etiam fringilla nibh eu ex euismod, sed gravida lorem pellentesque. Suspendisse massa neque, vestibulum vitae efficitur nec, auctor nec augue. Sed diam nulla, fringilla vel est ornare, pretium aliquet neque. Cras eu tellus erat. Phasellus at metus sed turpis euismod egestas. Nunc dolor lectus, tristique aliquet vestibulum a, maximus sed lorem. Suspendisse maximus felis nec nisl ornare, vel pharetra felis dapibus. Praesent ac pretium leo, at placerat erat. Sed convallis est eu dictum ornare. Donec ut pharetra enim. Nulla facilisi. Sed eu metus quis ex venenatis faucibus. Proin iaculis sapien posuere tempor aliquet.

        p Proin faucibus neque in lectus suscipit ultrices. Aliquam ac turpis imperdiet, maximus eros sit amet, elementum libero. Suspendisse ultricies tellus vitae sodales lacinia. Nullam sit amet faucibus metus. Aenean bibendum lobortis sem, sit amet feugiat neque ornare sit amet. Nunc quis viverra ipsum. Aenean sed sollicitudin velit. Etiam dignissim, eros sit amet sodales condimentum, arcu magna semper lectus, a mattis odio ligula vel elit. Nam sollicitudin metus nec lectus suscipit aliquam. Vivamus id cursus odio. Mauris efficitur volutpat velit. Suspendisse sed mauris quis orci tempor mollis nec id erat. Donec sollicitudin diam et libero semper, non euismod dolor cursus. Donec aliquet augue quis arcu vehicula sagittis non ut velit.

  .container
    .container__content
      +footer
