extends ../layouts/base.jade

block head
  title DC/OS

block content
  
  .container.container--dark-background
    +header
    
    .container__content
      h1 The Datacenter Operating System
      p.hero-subtitle There is no easier way to build modern applications, in containers and deploy them to any cloud or on-prem cluster.
    
  .container
    .container__content
      h2 Built-in, automatic service discovery
      p  Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      
      .why-content-image
        .why-content-image__copy
          ul.why-content__copy-list
            li
              h5.why-content__copy-list__title Bibendum egestas
              p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
            li
              h5.why-content__copy-list__title Bibendum egestas
              p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
            li
              h5.why-content__copy-list__title Bibendum egestas
              p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
          
        .why-content-image__image-container
          img(src='assets/images/application-illustration.svg')
          
  .container.container--gray-background
    .container__content
        h2 Built-in, automatic service discovery
        p  Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        
        ul.why-copy
          li.why-copy__blurb
            h5.why-content__copy-list__title Bibendum egestas
            p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
          li.why-copy__blurb
            h5.why-content__copy-list__title Bibendum egestas
            p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
          li.why-copy__blurb
            h5.why-content__copy-list__title Bibendum egestas
            p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
          li.why-copy__blurb
            h5.why-content__copy-list__title Bibendum egestas
            p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
            
          
  .container
    .container__content
      h2 Built-in, automatic service discovery
      p  Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      
      .why-content-image
        .why-content-image__copy
          ul.why-content__copy-list
            li
              h5.why-content__copy-list__title Bibendum egestas
              p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
            li
              h5.why-content__copy-list__title Bibendum egestas
              p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
            li
              h5.why-content__copy-list__title Bibendum egestas
              p Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus.
          
        .why-content-image__image-container
          img(src='assets/images/application-illustration.svg')
          
  .container.container--case-study
    .container__content.container__content--case-study-copy
        h3.case-study-copy Azure Container Service Powered&nbsp;by&nbsp;DC/OS
        p.case-study-copy Our goal with Azure Container Service is to provide a container hosting environment using open source tools and tehcnolgoies that are popular among our customers today.
        a.cta.cta--text.case-study-copy Read full case study &rarr;
        
        ul.bullet-list
          li.bullet-list__item
            a.bullet-list__bullet.active
          li.bullet-list__item
            a.bullet-list__bullet
          li.bullet-list__item
            a.bullet-list__bullet
          li.bullet-list__item
            a.bullet-list__bullet
        
    .container__content.container__content--case-study-image-wrapper
        img.case-study-image(src="assets/images/logos/microsoft.svg")
    
  .container
    .container__content
      img.why-dcos-icon(src='assets/images/icons/github-dark.svg')
      h3 DC/OS is 100% open source and co-developed with customers who are using it in large-scale productions.
      a(href='https://github.com/dcos').cta.cta--button.button--secondary View repository
  
  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes
       a(href='/get-started').cta.cta--button Get Started
       
    +footer
