extends ../layouts/base.jade

block head
  title Why DC/OS | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Why DC/OS | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='100% open source, co-developed with customers who use its technologies in production, providing the easiest way to run containerized applications at scale.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Why DC/OS | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='100% open source, co-developed with customers who use its technologies in production, providing the easiest way to run containerized applications at scale.')

block content

  .container.container--dark-background
    +header

    .container__content
      h1 Production Experience, Now at Your Fingertips.
      p.hero-subtitle DC/OS is based on the production proven Apache Mesos distributed systems kernel, combining years of real-life experience with best practices for building and running modern applications in production.

  .container.why-dcos-container
    .container__content
      h2 Build Amazing Applications.
      p Build modern apps using state of the art technologies such as containers and big data services, and confidently move from development to production.

      .why-content-image
        .why-content-image__copy
          ul.why-content__copy-list
            li
              img(src='/assets/images/icons/microservices-containers.svg').why-content__icon
              h5.why-content__copy-list__title Microservices & Containers
              p Build microservices applications using Docker with Marathon: DC/OS’s production proven container orchestrator.
            li
              img(src='/assets/images/icons/bigdata-analytics.svg').why-content__icon
              h5.why-content__copy-list__title Big Data & Analytics
              p Build and integrate advanced big data, analytics and machine learning pipelines with Spark, Kafka, and Cassandra in your apps.
            li
              img(src='/assets/images/icons/cloud-agnostic.svg').why-content__icon
              h5.why-content__copy-list__title Infrastructure Agnostic Apps
              p DC/OS runs on top of any bare-metal, private or public clouds, allowing you to maintain maximum portability for all your apps.

        .why-content-image__icon-container
          img(src='/assets/images/illustrations/why-dcos-1.png')

  .container.container--gray-background.why-dcos-container
    .container__content
        h2 Operate with Confidence.
        p Operate your apps and services with the highest uptime and resource utilization with DC/OS's mature, battle-tested architecture. Benefit from advanced monitoring and troubleshooting tools with best practices built-in.


        .why-content-image
          .why-content-image__copy.mirrored
            ul.why-content__copy-list
              li
                img(src='/assets/images/icons/one-infrastructure.svg').why-content__icon
                h5.why-content__copy-list__title A Single Logical Datacenter
                p Easily operate advanced apps & services on the same infrastructure with integrated service discovery, load balancing, workload scheduling, storage management, and more.
              li
                img(src='/assets/images/icons/self-healing.svg').why-content__icon
                h5.why-content__copy-list__title Self Healing Infrastructure
                p Confidently maintain uptime with high availability, automatic failure detection & recovery and non-disruptive upgrades.
              li
                img(src='/assets/images/icons/advanced-troubleshooting.svg').why-content__icon
                h5.why-content__copy-list__title Monitoring &amp; Troubleshooting
                p Combine monitoring and troubleshooting tools with built-in best practices to debug any process in your datacenter.

          .why-content-image__icon-container
            +image('/assets/images/illustrations/why-dcos-2.png')

  .container.why-dcos-container
    .container__content
      h2 Outpace the Competition.
      p Empower your team to develop innovative new services and rapidly deploy them to customers.

      .why-content-image
        .why-content-image__copy
          ul.why-content__copy-list
            li
              img(src='/assets/images/icons/services-ecosystem.svg').why-content__icon
              h5.why-content__copy-list__title Services Ecosystem
              p Easily roll out the latest datacenter technologies developed with automation and operational best practices from the fast-growing DC/OS partner ecosystem.
            li
              img(src='/assets/images/icons/quick-rollout.svg').why-content__icon
              h5.why-content__copy-list__title Roll Out Apps Quickly
              p Easily integrate with release automation and CI/CD tools to accelerate your software release lifecycle from development to production.
            li
              img(src='/assets/images/icons/attract-talent.svg').why-content__icon
              h5.why-content__copy-list__title Attract Top Talent
              p Attract the best developers, devops and operations engineers by providing them with cutting edge tools and technologies.

        .why-content-image__icon-container
          +image('/assets/images/illustrations/why-dcos-3.png')

  include ../includes/case-studies

  .container
    .container__content
      img.why-dcos-icon(src='/assets/images/icons/opensource.svg')
      h3 DC/OS is 100% open source, co-developed with customers who are using it in large-scale productions.
      a(href='https://github.com/dcos' target='_blank').cta.cta--button.button--secondary View on GitHub

  .container.container--dark-background
    .container__content
       h2 You’ll be running DC/OS in less than 10 minutes.
       a(href='/get-started').cta.cta--button Get Started

    +footer
