extends ../layouts/base.jade

block head
  title DC/OS

block content
  
  .container.container--dark-background
    +header
    
    .container__content
      h1 Join the DC/OS Community
      p.hero-subtitle Connect with our community of users and browse the latest DC/OS news.
    
  .container
    .container__content
      h2 Run containerized applications
      p  DC/OS is the only mature and highly scalable open­-source platform for modern datacenter applications. It features everything to effortlessly run containerized applications, including battle hardened services like Spark and Cassandra.
      
  .container.container--grey-background
    .container__content
      h2 Run containerized applications
      p  DC/OS is the only mature and highly scalable open­-source platform for modern datacenter applications. It features everything to effortlessly run containerized applications, including battle hardened services like Spark and Cassandra.
      
  .container
    .container__content
      h2 Run containerized applications
      p  DC/OS is the only mature and highly scalable open­-source platform for modern datacenter applications. It features everything to effortlessly run containerized applications, including battle hardened services like Spark and Cassandra.
  
  .container.container--case-study
    .container__content.container__content--case-study-copy
        h3.case-study-copy Azure Container Service Powered&nbsp;by&nbsp;DC/OS
        p.case-study-copy Our goal with Azure Container Service is to provide a container hosting environment using open source tools and tehcnolgoies that are popular among our customers today.
        a.cta.cta--text.case-study-copy Read full case study &rarr;
        
    .container__content.container__content--case-study-image-wrapper
        img.case-study-image(src="assets/images/logos/microsoft.svg")
        
  .container
    .container__content
      h2 DC/OS is 100% open source and co-developed with customers who are using it in large-scale productions.
      a.cta.cta--button.button--secondary View repository
    
  
  .container.container--dark-background
    .container__content
       h2 You'll be running DC/OS in less than 10 minutes
       a.cta.cta--button Get Started
       
    +footer
