extends ../../../layouts/base-whitefooter.jade


block head
  title DC/OS 1.9.0 Release Candidate 1

block content

  .container.container--dark-background
    +header

    .container__content
      h1 DC/OS 1.9.0 Release Candidate 1
      p.hero-subtitle
        a(href='https://downloads.dcos.io/dcos/EarlyAccess/commit/26d16366a29aba258541a8653b00522c4c1c21fc/dcos_generate_config.sh').cta.cta--button Download
        a(href='/docs/1.9/').cta.cta--text View Documentation &rarr;

  .container
    .container__content
      .container__content--release-notes.docs-layout__docs-content
        include:markdown notes.md


  .container
      +footer
